/* webpage styling */

html *
{
   font-family: Fira Sans !important;
}
h1 {
	font-size: 4em !important;
	font-weight: semi-bold !important;
}
h2 {
	font-size: 3em !important;
	font-weight: medium !important;
}
h3 {
	font-size: 1.5em !important;
	font-weight: bold !important;
}
p {
	font-size: 1em !important;
	font-weight: regular !important;
}
#container {
	width: 80%;
}
#title {
	margin-top: 6rem;
}
#api-content {
	width: 50%;
	margin-top: 4rem;
	margin-bottom: 6rem;
}
