// Base styles.

@import "fonts";

// Typography.
* {
	font-family: $family-sans-serif;
}

input,
button,
textarea,
select {
	line-height: normal;
}

::placeholder {
	color: inherit;
	opacity: 0.54;
}

h1 {
	color: $grey-dark;
	font-size: rem(35);
	font-weight: $font-weight-semibold;
	margin-block: 0.67em;
	margin-inline: 0;
}

h2 {
	color: $grey-dark;
	font-size: rem(24);
	font-weight: $font-weight-medium;
	margin-block: 0.83em;
	margin-inline: 0;
}

h3,
.h3 {
	font-size: rem(18);
	font-weight: $font-weight-bold;
	margin-block: 1em;
	margin-inline: 0;
}

h4 {
	font-size: rem(16);
	font-weight: $font-weight-bold;
}

// Links and Buttons.
a {
	color: $blue-alt-contrast;
	font-weight: $font-weight-bold;
	text-decoration: none;
}

a:hover,
a:focus {
	background-color: $orange-focus;
	color: $blue-alt-dark;
}

a:focus {
	outline: none;
}

li {
	list-style: unset;
}

p {
	margin-block: 1em;
	margin-inline: 0;
}

button:hover::before,
button:focus::before,
button:active::before {
	left: rem(4);
	top: rem(4);
}

// SVG fill rule imported from sanitize ensures SVG colour agrees with text colour
svg:not([fill]) {
	fill: currentcolor;
}

button::-moz-focus-inner {
	outline: none;
}

button:focus {
	outline: none;
}

button:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 $green-dark;
}

button:not(
.fl-prefsEditor-buttons,
.fl-textfieldStepper-button,
.fl-prefsEditor-showHide,
.fl-prefsEditor-reset,
.fl-switchUI-control) {
	background-color: $green-light;
	block-size: rem(54);
	border: 0;
	border-radius: rem(28);
	box-shadow: 0 0 0 rem(2) $blue-alt-light inset;
	color: $green-dark;
	font-size: rem(24);
	font-weight: 400;
	line-height: calc(34 / 24);
	padding-block: rem(8);
	padding-inline: rem(34);
	transform: perspective(rem(1)) translateZ(0);
}

button:not(
.fl-prefsEditor-buttons,
.fl-textfieldStepper-button,
.fl-prefsEditor-showHide,
.fl-prefsEditor-reset,
.fl-switchUI-control)::before {
	block-size: rem(54);
	border-radius: rem(26);
	box-shadow: 0 0 0 rem(2) $blue-alt-light inset;
	content: "";
	inline-size: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
}

@include breakpoint-up(lg) {
	h1 {
		font-size: rem(50);
	}

	h2 {
		font-size: rem(35);
	}

	h3,
	.h3 {
		font-size: rem(24);
	}

	h4 {
		font-size: rem(18);
	}
}
