@font-face {
	font-display: swap;
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 400;
	src:
		local("Fira Sans Regular"),
		local("FiraSans-Regular"),
		url("../fonts/fira-sans-v10-latin-regular.woff2") format("woff2"),
		url("../fonts/fira-sans-v10-latin-regular.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Fira Sans";
	font-style: italic;
	font-weight: 400;
	src:
		local("Fira Sans Italic"),
		local("FiraSans-Italic"),
		url("../fonts/fira-sans-v10-latin-italic.woff2") format("woff2"),
		url("../fonts/fira-sans-v10-latin-italic.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 500;
	src:
		local("Fira Sans Medium"),
		local("FiraSans-Medium"),
		url("../fonts/fira-sans-v10-latin-500.woff2") format("woff2"),
		url("../fonts/fira-sans-v10-latin-500.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 600;
	src:
		local("Fira Sans SemiBold"),
		local("FiraSans-SemiBold"),
		url("../fonts/fira-sans-v10-latin-600.woff2") format("woff2"),
		url("../fonts/fira-sans-v10-latin-600.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 700;
	src:
		local("Fira Sans Bold"),
		local("FiraSans-Bold"),
		url("../fonts/fira-sans-v10-latin-700.woff2") format("woff2"),
		url("../fonts/fira-sans-v10-latin-700.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src:
		local("Roboto"),
		local("Roboto-Regular"),
		url("../fonts/roboto-v32-latin-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src:
		local("Roboto"),
		local("Roboto-Regular"),
		url("../fonts/roboto-v32-latin-700.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Montserrat-Italic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/MontserratAlternates-Regular.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/MontserratAlternates-Italic.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/MontserratAlternates-Medium.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/MontserratAlternates-MediumItalic.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/MontserratAlternates-SemiBold.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/MontserratAlternates-SemiBoldItalic.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/MontserratAlternates-Bold.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/MontserratAlternates-BoldItalic.woff2") format("woff2");
	unicode-range: U+0049, U+006C;
}
