@font-face {
	font-display: swap;
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 400;
	src:
		local("Fira Sans Regular"),
		local("FiraSans-Regular"),
		url("../fonts/fira-sans-v10-latin-regular.woff2") format("woff2"),
		url("../fonts/fira-sans-v10-latin-regular.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Fira Sans";
	font-style: italic;
	font-weight: 400;
	src:
		local("Fira Sans Italic"),
		local("FiraSans-Italic"),
		url("../fonts/fira-sans-v10-latin-italic.woff2") format("woff2"),
		url("../fonts/fira-sans-v10-latin-italic.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 500;
	src:
		local("Fira Sans Medium"),
		local("FiraSans-Medium"),
		url("../fonts/fira-sans-v10-latin-500.woff2") format("woff2"),
		url("../fonts/fira-sans-v10-latin-500.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 600;
	src:
		local("Fira Sans SemiBold"),
		local("FiraSans-SemiBold"),
		url("../fonts/fira-sans-v10-latin-600.woff2") format("woff2"),
		url("../fonts/fira-sans-v10-latin-600.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 700;
	src:
		local("Fira Sans Bold"),
		local("FiraSans-Bold"),
		url("../fonts/fira-sans-v10-latin-700.woff2") format("woff2"),
		url("../fonts/fira-sans-v10-latin-700.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src:
		local("Roboto"),
		local("Roboto-Regular"),
		url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
		url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Montserrat-Italic.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/Montserrat-MediumItalic.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/Montserrat-SemiBoldItalic.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Montserrat-BoldItalic.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/MontserratAlternates-Regular.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/MontserratAlternates-Italic.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/MontserratAlternates-Medium.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/MontserratAlternates-MediumItalic.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/MontserratAlternates-SemiBold.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/MontserratAlternates-SemiBoldItalic.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/MontserratAlternates-Bold.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Montserrat Alternates";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/MontserratAlternates-BoldItalic.ttf") format("ttf");
}
