.brand {
	block-size: auto;
	inline-size: rem(72);

	a {
		align-items: center;
		block-size: inherit;
		color: $black;
		display: flex;
		position: relative;
	}

	.logo {
		block-size: rem(90);
		inline-size: rem(90);
	}

	.logotype {
		block-size: rem(32);
		inline-size: rem(200);
	}
}

@include breakpoint-up(lg) {
	.brand {
		a {
			display: inline-flex;
		}
	}
}
