.brand {
	block-size: auto;
	inline-size: calc(72 / 16 * 1rem);

	a {
		align-items: center;
		block-size: inherit;
		color: $black;
		display: flex;
		position: relative;
	}

	.logo {
		block-size: calc(90 / 16 * 1rem);
		inline-size: calc(90 / 16 * 1rem);
	}

	.logotype {
		block-size: calc(32 / 16 * 1rem);
		inline-size: calc(200 / 16 * 1rem);
	}
}

@media screen and (width >= 68.75rem) {
	.brand {
		a {
			display: inline-flex;
		}
	}
}
