.homepage-cards {
	display: grid;
	grid-gap: rem(38);
	grid-template-columns: repeat(1, 1fr);
	padding-block: 0 rem(50);
	padding-inline: rem(32);

	.card {
		background-color: $white;
		background-position: 50% 115%;
		background-repeat: no-repeat;
		block-size: rem(438);
		border-radius: rem(10);
		box-shadow: 0 rem(4) rem(4) rgba(0 0 0 / 25%);
		font-family: "Montserrat Alternates", Montserrat, $family-sans-serif;
		position: relative;
		text-align: center;

		&:hover,
		&:has(a:focus) {
			box-shadow: rem(10) rem(10) rem(10) rgba(0 0 0 / 25%);
		}

		a::after {
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		h2,
		p {
			color: hsl(0deg 0% 0% / 100%);
			margin-block-end: unset;
			margin-block-start: rem(15);
			margin-inline: rem(19);
			text-align: start;
		}

		h2 {
			font-weight: 600;

			a {
				color: hsl(0deg 0% 0% / 100%);
				font-weight: 600;

				&:hover,
				&:focus {
					background-color: unset;
				}
			}
		}

		p {
			font-weight: 400;
		}
	}

	.blue {
		background-color: $blue-grey;
		background-image: url("../images/blue.svg");
	}

	.green {
		background-color: $green-grey;
		background-image: url("../images/green.svg");
	}

	.yellow {
		background-color: $yellow;
		background-image: url("../images/yellow.svg");
	}

	.azure {
		background-color: $azure;
		background-image: url("../images/azure.svg");
	}
}

@include breakpoint-up(lg) {
	.homepage-cards {
		grid-template-columns: repeat(4, 1fr);
		padding-block: 0 rem(50);
		padding-inline: rem(60);
	}
}
