.homepage-cards {
	display: flex;
	flex-direction: column;
	gap: calc(38 / 16 * 1rem);
	justify-content: flex-start;
	padding-block: calc(58 / 16 * 1rem);

	.card {
		aspect-ratio: 271 / 476;
		background-color: $white;
		background-repeat: no-repeat;
		border: calc(1 / 16 * 1rem) solid transparent;
		border-radius: calc(10 / 16 * 1rem);
		box-shadow: 0 calc(4 / 16 * 1rem) calc(4 / 16 * 1rem) rgba(0 0 0 / 25%);
		font-family: "Montserrat Alternates", Montserrat, var(--font-alternate);
		inline-size: 100%;
		max-block-size: calc(501.74 / 16 * 1rem);
		max-inline-size: calc(285.53 / 16 * 1rem);
		position: relative;
		text-align: center;

		a:hover,
		a:focus {
			background: none;
			box-shadow: none;
		}

		&:hover,
		&:has(a:focus) {
			box-shadow:
				0 0 0 calc(2 / 16 * 1rem) $black,
				calc(10 / 16 * 1rem) calc(10 / 16 * 1rem) calc(10 / 16 * 1rem) rgba(0 0 0 / 25%);
		}

		a::after {
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		h2,
		p {
			color: hsl(0deg 0% 0% / 100%);
			margin-block-end: unset;
			margin-block-start: calc(15 / 16 * 1rem);
			margin-inline: calc(19 / 16 * 1rem);
			text-align: start;
		}

		h2 {
			font-size: unset;
			font-weight: 600;
			line-height: 1.3;

			a {
				color: hsl(0deg 0% 0% / 100%);
				display: inline-block;
				font-size: calc(30 / 16 * 1rem);
				font-weight: 600;

				&:hover,
				&:focus {
					background-color: unset;
				}
			}
		}

		p {
			font-size: calc(20 / 16 * 1rem);
			font-weight: 400;
			line-height: calc(28 / 16 * 1rem);
		}

		.card__content {
			block-size: 100%;
			inline-size: 100%;
			inset: 0;
			position: absolute;
		}

		svg {
			border-end-end-radius: 0.5rem;
			bottom: 0;
			left: 0;
			position: absolute;
		}
	}

	.blue {
		background-color: $blue-grey;

		svg {
			.cls-1 {
				fill: var(--fl-bgColor, #abdde9);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-2 {
				fill: var(--fl-bgColor, #198293);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-3 {
				fill: var(--fl-bgColor, #55769f);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-4 {
				fill: var(--fl-bgColor, #6ab9c6);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-5 {
				fill: var(--fl-bgColor, #37a5b7);
				stroke: var(--fl-fgColor, transparent);
			}
		}
	}

	.green {
		background-color: $green-grey;

		svg {
			.cls-1 {
				fill: var(--fl-bgColor, #cde6c4);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-2 {
				fill: var(--fl-bgColor, #daeed3);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-3 {
				fill: var(--fl-bgColor, #b1d6a1);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-4 {
				fill: var(--fl-bgColor, #96bc84);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-5 {
				fill: var(--fl-bgColor, #85a576);
				stroke: var(--fl-fgColor, transparent);
			}
		}
	}

	.yellow {
		background-color: $yellow;

		a div {
			margin-block-start: calc(4 / 16 * 1rem);
		}

		.cls-1 {
			fill: var(--fl-bgColor, #95d2f9);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-2 {
			fill: var(--fl-bgColor, #dd9c3e);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-3 {
			fill: var(--fl-bgColor, #fbb23e);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-4 {
			fill: var(--fl-bgColor, $white);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-5 {
			fill: var(--fl-bgColor, #ffbf59);
			stroke: var(--fl-fgColor, transparent);
		}
	}

	.azure {
		background-color: $azure;

		.cls-1 {
			fill: var(--fl-bgColor, #fbdc90);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-2 {
			fill: var(--fl-bgColor, #337595);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-3 {
			fill: var(--fl-bgColor, #5b9ad2);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-4 {
			fill: var(--fl-bgColor, #3b93e4);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-5 {
			fill: var(--fl-bgColor, #4892c4);
			stroke: var(--fl-fgColor, transparent);
		}
	}
}

@media screen and (width >= 47.5rem) {
	.homepage-cards {
		display: grid;
		grid-template-columns: repeat(2, calc(285.53 / 16 * 1rem));
	}
}

// enough width to fit 4 cards in a row with paddings
@media only screen and (width >= 90.4375rem) {
	.homepage-cards {
		grid-template-columns: repeat(4, calc(285.53 / 16 * 1rem));
	}
}

[class*="fl-theme"]:not(.fl-theme-prefsEditor-default) div.card__content {
	background: transparent !important;
}
