.homepage-cards {
	display: flex;
	flex-direction: column;
	gap: rem(38);
	justify-content: flex-start;
	padding-block: rem(58);

	.card {
		aspect-ratio: 271 / 476;
		background-color: $white;
		background-repeat: no-repeat;
		border: rem(1) solid transparent;
		border-radius: rem(10);
		box-shadow: 0 rem(4) rem(4) rgba(0 0 0 / 25%);
		font-family: "Montserrat Alternates", Montserrat, $family-sans-serif;
		inline-size: 100%;
		max-block-size: rem(501.74);
		max-inline-size: rem(285.53);
		position: relative;
		text-align: center;

		&:hover,
		&:has(a:focus) {
			box-shadow: rem(10) rem(10) rem(10) rgba(0 0 0 / 25%);
		}

		a::after {
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		h2,
		p {
			color: hsl(0deg 0% 0% / 100%);
			margin-block-end: unset;
			margin-block-start: rem(15);
			margin-inline: rem(19);
			text-align: start;
		}

		h2 {
			font-size: unset;
			font-weight: 600;
			line-height: 1.3;

			a {
				color: hsl(0deg 0% 0% / 100%);
				display: inline-block;
				font-size: rem(30);
				font-weight: 600;

				&:hover,
				&:focus {
					background-color: unset;
				}
			}
		}

		p {
			font-size: rem(20);
			font-weight: 400;
			line-height: rem(28);
		}

		.card__content {
			block-size: 100%;
			inline-size: 100%;
			inset: 0;
			position: absolute;
		}

		svg {
			border-end-end-radius: 0.5rem;
			bottom: 0;
			left: 0;
			position: absolute;
		}
	}

	.blue {
		background-color: $blue-grey;

		svg {
			.cls-1 {
				fill: var(--fl-bgColor, #abdde9);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-2 {
				fill: var(--fl-bgColor, #198293);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-3 {
				fill: var(--fl-bgColor, #55769f);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-4 {
				fill: var(--fl-bgColor, #6ab9c6);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-5 {
				fill: var(--fl-bgColor, #37a5b7);
				stroke: var(--fl-fgColor, transparent);
			}
		}
	}

	.green {
		background-color: $green-grey;

		svg {
			.cls-1 {
				fill: var(--fl-bgColor, #cde6c4);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-2 {
				fill: var(--fl-bgColor, #daeed3);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-3 {
				fill: var(--fl-bgColor, #b1d6a1);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-4 {
				fill: var(--fl-bgColor, #96bc84);
				stroke: var(--fl-fgColor, transparent);
			}

			.cls-5 {
				fill: var(--fl-bgColor, #85a576);
				stroke: var(--fl-fgColor, transparent);
			}
		}
	}

	.yellow {
		background-color: $yellow;

		a div {
			margin-block-start: rem(4);
		}

		.cls-1 {
			fill: var(--fl-bgColor, #95d2f9);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-2 {
			fill: var(--fl-bgColor, #dd9c3e);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-3 {
			fill: var(--fl-bgColor, #fbb23e);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-4 {
			fill: var(--fl-bgColor, $white);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-5 {
			fill: var(--fl-bgColor, #ffbf59);
			stroke: var(--fl-fgColor, transparent);
		}
	}

	.azure {
		background-color: $azure;

		.cls-1 {
			fill: var(--fl-bgColor, #fbdc90);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-2 {
			fill: var(--fl-bgColor, #337595);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-3 {
			fill: var(--fl-bgColor, #5b9ad2);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-4 {
			fill: var(--fl-bgColor, #3b93e4);
			stroke: var(--fl-fgColor, transparent);
		}

		.cls-5 {
			fill: var(--fl-bgColor, #4892c4);
			stroke: var(--fl-fgColor, transparent);
		}
	}
}

@include breakpoint-up(md) {
	.homepage-cards {
		display: grid;
		grid-template-columns: repeat(2, rem(285.53));
	}
}

// enough width to fit 4 cards in a row with paddings
@media only screen and (min-width: 1448px) {
	.homepage-cards {
		grid-template-columns: repeat(4, rem(285.53));
	}
}

[class*="fl-theme"]:not(.fl-theme-prefsEditor-default) div.card__content {
	background: transparent !important;
}
