// Event page
.event-page {
	.event-cover-image {
		display: block;
		margin-inline: auto;
		max-inline-size: 100%;
	}

	.description {
		margin-block-end: rem(100);

		h3 {
			border-block-end: rem(5) solid $gold;
			line-height: rem(60);
		}
	}
}
