.expandable-heading {
	inline-size: 100%;

	&:has(button:focus),
	&:hover {
		background-color: #fadc90;
		color: $green-dark;
		outline: 0;
	}
}

.expandable-heading__toggle {
	align-items: center;
	background-color: unset;
	border: none;
	display: flex;
	gap: rem(12);
	inline-size: 100%;

	svg {
		block-size: rem(24);
	}
}
