// Styles for the filter

// CSS classes for "apply filter" and "reset filter" buttons
.stroke-black {
	stroke: var(--currentcolor, black);
}

.fill-black {
	fill: var(--currentcolor, black);
}

.fill-c4c4c4 {
	fill: var(--currentcolor, #c4c4c4);
}

// CSS classes for the "expand filter" button
.expand-svg {
	fill: var(--expand-button-color, $gold-light);
	stroke: var(--expand-button-stroke-color, $blue-alt-light);
	stroke-width: var(--expand-button-stroke-width, calc(4 / 16 * 1rem));
}

.filter {
	border: calc(1 / 16 * 1rem) solid $blue-alt-light;
	margin-block-end: calc(48 / 16 * 1rem);

	// Transparent buttons
	button {
		background-color: transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		outline: none;
		overflow: hidden;
	}

	// Custom checkboxes. Reference: https://codepen.io/spacemonkey/pen/vmZROv
	.filter-checkbox {
		opacity: 0; // hide it
		position: absolute; // take it out of document flow

		& + label,
		& + span {
			cursor: pointer;
			padding: 0;
			position: relative;
		}

		// Box
		& + label::before,
		& + span::before {
			block-size: calc(20 / 16 * 1rem);
			content: "";
			display: inline-block;
			inline-size: calc(20 / 16 * 1rem);
			margin-inline-end: calc(10 / 16 * 1rem);
			outline: calc(1 / 16 * 1rem) solid $blue-alt-light;
			vertical-align: text-top;
		}

		// Checkmark
		&:checked + label::after,
		&:checked + span::after {
			block-size: calc(2 / 16 * 1rem);
			color: $white;
			content: "\2713";
			font-size: calc(18 / 16 * 1rem);
			inline-size: calc(2 / 16 * 1rem);
			left: calc(32 / 16 * 1rem);
			position: absolute;
			top: 0;
		}
	}

	// End of custom checkboxes

	.filter-header {
		background-color: $gold-light;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		h2 {
			border-block-end: none;
			line-height: calc(8 / 16 * 1rem);
			padding-inline-start: calc(8 / 16 * 1rem);
		}

		button {
			margin-inline-end: calc(16 / 16 * 1rem);
		}

		svg {
			block-size: calc(24 / 16 * 1rem);
			inline-size: calc(24 / 16 * 1rem);
		}
	}

	.filter-choices {
		display: grid;
		grid-template-columns: repeat(1, auto);
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			padding-block: calc(4 / 16 * 1rem);
			padding-inline: calc(8 / 16 * 1rem);

			// Hanging indent for label texts
			label {
				display: block;
				padding-inline-start: calc(29 / 16 * 1rem);
				text-indent: calc(-1 * 30 / 16 * 1rem);
			}
		}
	}

	.filter-buttons {
		background-color: $grey-lighter;
		border-block-start: calc(1 / 16 * 1rem) solid $blue-alt-light;
		display: flex;
		justify-content: flex-end;

		svg {
			block-size: calc(40 / 16 * 1rem);
			fill: none;
			inline-size: calc(40 / 16 * 1rem);
			margin-inline-end: calc(3 / 16 * 1rem);
			padding: calc(3 / 16 * 1rem);
		}

		span {
			font-size: calc(14 / 16 * 1rem);
		}
	}

	.apply-button,
	.reset-button {
		@extend %has-vertically-centered-children;

		padding-block: calc(1 / 16 * 1rem);
		padding-inline: calc(3 / 16 * 1rem);

		span {
			display: inline-flex;
		}

		&:focus,
		&:hover {
			svg {
				background-color: $gold-light;
			}
		}
	}

	.filter-expand-button:focus,
	.filter-expand-button:hover {
		--expand-button-color: #{$blue-alt-light};
		--expand-button-stroke-color: #{$gold-light};
		--expand-button-stroke-width: 0;
	}
}

// Custom styles when "enhance inputs" is enabled
// Custom checkbox
.fl-input-enhanced .filter-checkbox + label::before,
.fl-input-enhanced .filter-checkbox + span::before {
	outline: calc(3 / 16 * 1rem) double $blue-alt-light;
}

// Box checked
.filter .filter-checkbox:checked + label::before,
.filter .filter-checkbox:checked + span::before {
	background: $blue-alt-light;
}

// Box focus
.filter .filter-checkbox:focus + label::before,
.filter .filter-checkbox:hover + label::before,
.filter .filter-checkbox:focus + span::before,
.filter .filter-checkbox:hover + span::before {
	outline: calc(2.5 / 16 * 1rem) solid $blue-alt-light;
}

// Box focus when "enhance inputs" is enabled
.fl-input-enhanced .filter-checkbox:focus + label::before,
.fl-input-enhanced .filter-checkbox:hover + label::before,
.fl-input-enhanced .filter-checkbox:focus + span::before,
.fl-input-enhanced .filter-checkbox:hover + span::before {
	border: calc(2.5 / 16 * 1rem) solid $blue-alt-light;
	outline: calc(3.5 / 16 * 1rem) double $blue-alt-light;
}

// Box checked and focus/hover
.filter .filter-checkbox:checked:focus + label::before,
.filter .filter-checkbox:checked:hover + label::before,
.filter .filter-checkbox:checked:focus + span::before,
.filter .filter-checkbox:checked:hover + span::before {
	outline: calc(3 / 16 * 1rem) double $blue-alt-light;
}

// Box checked and focus/hover
.fl-input-enhanced .filter-checkbox:checked:focus + label::before,
.fl-input-enhanced .filter-checkbox:checked:hover + label::before,
.fl-input-enhanced .filter-checkbox:checked:focus + span::before,
.fl-input-enhanced .filter-checkbox:checked:hover + span::before {
	border: calc(1 / 16 * 1rem) solid $white;
	box-shadow: 0 0 0 calc(1 / 16 * 1rem) $blue-alt-light inset;
	outline: calc(3 / 16 * 1rem) double $blue-alt-light;
}

@media screen and (width >= 68.75rem) {
	.filter {
		.filter-header {
			h2 {
				padding-inline-start: calc(16 / 16 * 1rem);
			}

			button {
				margin-inline-end: calc(24 / 16 * 1rem);
			}
		}

		.filter-choices {
			grid-template-columns: repeat(2, auto);

			li {
				padding-block: calc(4 / 16 * 1rem);
				padding-inline: calc(16 / 16 * 1rem);
			}
		}

		.filter-buttons {
			button {
				margin-inline-end: calc(8 / 16 * 1rem);
				padding: calc(4 / 16 * 1rem);
			}

			span {
				font-size: calc(18 / 16 * 1rem);
			}
		}
	}
}
