.idrc-indicator-wrapper {
	background-color: #f4f8fc;
	font-family: var(--font-alternate);
}

.idrc-indicator {
	max-inline-size: var(--content-max);
	padding-block-end: calc(20 / 16 * 1rem);
	padding-block-start: calc(20 / 16 * 1rem);
}

.idrc-indicator-element {
	align-items: center;
	display: flex;
	font-size: calc(16 / 16 * 1rem);
	line-height: calc(20 / 16 * 1rem);
	padding-block: 0;
	padding-inline: calc(24 / 16 * 1rem);
}

.idrc-indicator-element svg {
	margin-block-end: -0.1875em;
}

.idrc-indicator-element a {
	color: #000;
	text-decoration: underline;
}

@media screen and (width >= 47.5rem) {
	.idrc-indicator-element {
		line-height: calc(21 / 16 * 1rem);
		padding-inline: calc(96 / 16 * 1rem);
	}
}
