// CSS classes for the placeholder svg
.fill-fadc90 {
	fill: var(--bColor, #fadc90);
}

.fill-fdcc70 {
	fill: var(--bColor, #fdcc70);
}

.fill-f49822 {
	fill: var(--bColor, #f49822);
}

.fill-cee6c5 {
	fill: var(--bColor, #cee6c5);
}

.fill-fcb33e {
	fill: var(--bColor, #fcb33e);
}

.fill-c0d8ca {
	fill: var(--bColor, #c0d8ca);
}

.fill-c1c6c1 {
	fill: var(--bColor, #c1c6c1);
}

.fill-a0b9c1 {
	fill: var(--bColor, #a0b9c1);
}

.fill-8cb6c6 {
	fill: var(--bColor, #8cb6c6);
}

.fill-acdde9 {
	fill: var(--bColor, #acdde9);
}

.fill-aedbd5 {
	fill: var(--bColor, #aedbd5);
}

.fill-b0d0be {
	fill: var(--bColor, #b0d0be);
}

.fill-b2bcb1 {
	fill: var(--bColor, #b2bcb1);
}

.fill-8eabb8 {
	fill: var(--bColor, #8eabb8);
}

.fill-77a5bb {
	fill: var(--bColor, #77a5bb);
}

.fill-84bcde {
	fill: var(--bColor, #84bcde);
}

.fill-85bbd1 {
	fill: var(--bColor, #85bbd1);
}

.fill-88b5c4 {
	fill: var(--bColor, #88b5c4);
}

.fill-8caabb {
	fill: var(--bColor, #8caabb);
}

.fill-74a0bf {
	fill: var(--bColor, #74a0bf);
}

.fill-639cc0 {
	fill: var(--bColor, #639cc0);
}

.fill-6995bf {
	fill: var(--bColor, #6995bf);
}

.fill-6b91b7 {
	fill: var(--bColor, #6b91b7);
}

.fill-6f8ab1 {
	fill: var(--bColor, #6f8ab1);
}

.fill-6085b3 {
	fill: var(--bColor, #6085b3);
}

.fill-5482b3 {
	fill: var(--bColor, #5482b3);
}

.fill-556da2 {
	fill: var(--bColor, #556da2);
}

.fill-566d9e {
	fill: var(--bColor, #566d9e);
}

.fill-566a9a {
	fill: var(--bColor, #566a9a);
}

.fill-586697 {
	fill: var(--bColor, #586697);
}

.fill-506499 {
	fill: var(--bColor, #506499);
}

.fill-486399 {
	fill: var(--bColor, #486399);
}

.fill-6895c6 {
	fill: var(--bColor, #6895c6);
}

// Initially show the static generated page and hide the dynamic page section for the search and filtering result.
.initiatives.dynamic-view,
.resources.dynamic-view {
	display: none;
}

// Initially hide the filter form on the static generated page
.static-view .filter-body {
	border-block-start: 1px solid $blue-alt-light;
	display: none;
}

.initiatives,
.resources {
	.search-container {
		padding-block-end: calc(27 / 16 * 1rem);

		svg {
			left: 0;
			margin-inline-start: calc(16 / 16 * 1rem);
			top: calc(16 / 16 * 1rem);
		}

		input[type="search"] {
			border: 1px solid $green-dark;
			border-radius: calc(28 / 16 * 1rem);
			font-size: calc(18 / 16 * 1rem);
			inline-size: 100%;
			padding-block: calc(16 / 16 * 1rem);
			padding-inline-start: calc(48 / 16 * 1rem);

			&:focus {
				inline-size: 100%;
				padding-inline-start: calc(48 / 16 * 1rem);
			}
		}

		::placeholder {
			color: $green-dark;
		}
	}

	.search-result {
		color: $green-dark;
		margin-block-start: calc(-1 * 32 / 16 * 1rem);
	}

	.search-for-title {
		color: $green-dark;
	}

	.tags {
		margin-block: -1rem 1rem;
		margin-inline: 0;
	}

	.search-term {
		margin-block: -0.5rem 2rem;
		margin-inline: 0;
	}
}

.initiatives {
	.search-container {
		input[type="search"] {
			margin-inline-start: -0.5rem;
		}
	}
}

@media screen and (width >= 68.75rem) {
	.initiatives {
		.search-container {
			inline-size: calc(288 / 16 * 1rem);
			margin-inline-start: auto;

			input[type="search"] {
				inline-size: calc(288 / 16 * 1rem);
				margin-inline-start: 0;
			}
		}
	}
}
