.news-grid {
	display: grid;
	grid-gap: calc(30 / 16 * 1rem) calc(38 / 16 * 1rem);
	grid-template-columns: repeat(1, 1fr);

	.api-content {
		background: #fff;
		border: 1px solid #000;
		box-sizing: border-box;

		.news-item {
			.preview-media-wrapper .content {
				display: none;
			}

			.author {
				color: $grey-mid;
				font-style: italic;
				font-weight: var(--font-weight-semibold);
			}

			.date {
				padding-block-end: calc(8 / 16 * 1rem);
			}

			// Apply ellipsis on the third line to the preview content.
			// Reference: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
			.preview-content {
				line-height: calc(19.2 / 16 * 1rem);
				margin-block-end: calc(16 / 16 * 1rem);
				max-block-size: calc(57.6 / 16 * 1rem);
				overflow: hidden;
				padding-inline-end: calc(16 / 16 * 1rem);
				position: relative;
			}

			// create the ellipsis
			.preview-content::before {
				bottom: 0;
				content: "...";
				position: absolute;
				right: 0;
			}

			// hide the ellipsis if we have text, which is less than or equal to max lines
			.preview-content::after {
				background: $white;
				block-size: calc(16 / 16 * 1rem);
				content: "";
				inline-size: calc(16 / 16 * 1rem);
				margin-block-start: calc(3.2 / 16 * 1rem);
				position: absolute;
				right: 0;
			}
		}
	}
}

@media screen and (width >= 68.75rem) {
	.news-grid {
		grid-template-columns: repeat(2, 1fr);

		.api-content .news-item {
			padding: 0;

			.preview-media-wrapper {
				aspect-ratio: 16 / 9;

				.content {
					display: block;
				}

				// Style the placeholder images
				.placeholder-img {
					block-size: 100%;
					inline-size: 100%;
				}

				// Style featured images
				img {
					block-size: 100%;
					inline-size: 100%;
					object-fit: cover;
				}
			}
		}

		.content-preview {
			padding-block: calc(1 / 16 * 1rem);
			padding-inline: calc(60 / 16 * 1rem);
		}
	}
}
