.pagination {
	display: block;
	line-height: rem(38);
	margin-block-start: rem(27);
	margin-inline: -10%;
	padding: 0;
	text-align: center;

	.pagination-list {
		display: flex;
		margin: auto;
	}

	.previous,
	.next {
		block-size: rem(65);
	}

	.previous {
		margin-inline-end: rem(6);
	}

	.next {
		margin-inline-start: rem(6);
	}

	.pagination-link {
		background-color: $green-light;
		block-size: rem(45);
		border: 0;
		border-radius: 100%;
		box-shadow: 0 0 0 rem(2) $blue-alt-light inset;
		color: $green-dark;
		float: left;
		font-size: rem(18);
		font-weight: 400;
		inline-size: rem(45);
		line-height: rem(45);
		margin-block: rem(10);
		margin-inline: rem(5);
		transform: perspective(rem(5)) translateZ(0);
	}

	.pagination-link::before {
		block-size: 100%;
		border-radius: 100%;
		box-shadow: 0 0 0 rem(2) $blue-alt-light inset;
		content: "";
		inline-size: 100%;
		left: 0;
		opacity: 1;
		position: absolute;
		top: 0;
	}

	.pagination-link:hover::before,
	.pagination-link:focus::before,
	.pagination-link:active::before {
		left: rem(4);
		top: rem(4);
	}

	.pagination-ellipsis {
		margin-block: rem(9);
		margin-inline: rem(0);

		span {
			color: $blue-alt;
			font-size: rem(18);
		}
	}

	li {
		list-style: none;

		a.is-current {
			background-color: $green-pale;
			box-shadow: 0 0 0 rem(2) $green-dark inset;

			&::before {
				box-shadow: 0 0 0 rem(2) $green-dark inset;
			}
		}
	}

	li.hide-on-mobile {
		display: none;
	}

	li:first-child,
	li:last-child {
		flex: 1;
	}

	.pagination-next,
	.pagination-previous {
		color: $green-dark;
		float: left;
		line-height: rem(45);
		margin-block: rem(10);
		margin-inline: rem(5);

		svg {
			block-size: rem(24);
			fill: none;
			inline-size: rem(14);
			stroke: currentcolor;
			stroke-width: 2;
		}
	}

	.pagination-previous {
		float: right;
	}

	.pagination-next {
		float: left;
	}

	.pagination-next:hover,
	.pagination-previous:hover,
	.pagination-next:focus,
	.pagination-previous:focus {
		background-color: transparent;

		svg {
			fill: currentcolor;
			stroke-width: 0.25;
		}
	}
}

@include breakpoint-up(lg) {
	.pagination {
		line-height: rem(35);
		margin-block-start: rem(62);
		margin-inline: auto;

		.previous,
		.next {
			margin-block: 0;
			margin-inline: rem(20);
		}

		.pagination-ellipsis {
			margin-block: rem(4);
			margin-inline: rem(0);

			span {
				font-size: rem(24);
			}
		}

		li.hide-on-mobile {
			display: block;
		}

		li:not(:first-child, :last-child) {
			padding-block-start: rem(4);
		}

		.pagination-list {
			inline-size: rem(640);
		}

		.pagination-link {
			block-size: rem(53);
			font-size: rem(24);
			inline-size: rem(53);
			line-height: rem(53);
			margin-block: 0;
			margin-inline: rem(13);
		}

		.pagination-next,
		.pagination-previous {
			line-height: rem(48);
		}
	}
}

// This media query breakpoint is for the Galaxy Fold screen.
@include breakpoint-down(xs) {
	.pagination .pagination-link {
		margin-block: rem(10);
		margin-inline: rem(3);
	}
}
