.pagination {
	display: block;
	line-height: calc(38 / 16 * 1rem);
	margin-block-start: calc(27 / 16 * 1rem);
	margin-inline: -10%;
	padding: 0;
	text-align: center;

	.pagination-list {
		display: flex;
		margin: auto;
	}

	.previous,
	.next {
		block-size: calc(65 / 16 * 1rem);
	}

	.previous {
		margin-inline-end: calc(6 / 16 * 1rem);
	}

	.next {
		margin-inline-start: calc(6 / 16 * 1rem);
	}

	.pagination-link {
		background-color: $green-light;
		block-size: calc(45 / 16 * 1rem);
		border: 0;
		border-radius: 100%;
		box-shadow: 0 0 0 calc(2 / 16 * 1rem) $blue-alt-light inset;
		color: $green-dark;
		float: left;
		font-size: calc(18 / 16 * 1rem);
		font-weight: 400;
		inline-size: calc(45 / 16 * 1rem);
		line-height: calc(45 / 16 * 1rem);
		margin-block: calc(10 / 16 * 1rem);
		margin-inline: calc(5 / 16 * 1rem);
		transform: perspective(calc(5 / 16 * 1rem)) translateZ(0);
	}

	.pagination-link::before {
		block-size: 100%;
		border-radius: 100%;
		box-shadow: 0 0 0 calc(2 / 16 * 1rem) $blue-alt-light inset;
		content: "";
		inline-size: 100%;
		left: 0;
		opacity: 1;
		position: absolute;
		top: 0;
	}

	.pagination-link:hover::before,
	.pagination-link:focus::before,
	.pagination-link:active::before {
		left: calc(4 / 16 * 1rem);
		top: calc(4 / 16 * 1rem);
	}

	.pagination-ellipsis {
		margin-block: calc(9 / 16 * 1rem);
		margin-inline: calc(0 / 16 * 1rem);

		span {
			color: $blue-alt;
			font-size: calc(18 / 16 * 1rem);
		}
	}

	li {
		list-style: none;

		a.is-current {
			background-color: $green-pale;
			box-shadow: 0 0 0 calc(2 / 16 * 1rem) $green-dark inset;

			&::before {
				box-shadow: 0 0 0 calc(2 / 16 * 1rem) $green-dark inset;
			}
		}
	}

	li.hide-on-mobile {
		display: none;
	}

	li:first-child,
	li:last-child {
		flex: 1;
	}

	.pagination-next,
	.pagination-previous {
		color: $green-dark;
		float: left;
		line-height: calc(45 / 16 * 1rem);
		margin-block: calc(10 / 16 * 1rem);
		margin-inline: calc(5 / 16 * 1rem);

		svg {
			block-size: calc(24 / 16 * 1rem);
			fill: none;
			inline-size: calc(14 / 16 * 1rem);
			stroke: currentcolor;
			stroke-width: 2;
		}
	}

	.pagination-previous {
		float: right;
	}

	.pagination-next {
		float: left;
	}

	.pagination-next:hover,
	.pagination-previous:hover,
	.pagination-next:focus,
	.pagination-previous:focus {
		background-color: transparent;

		svg {
			fill: currentcolor;
			stroke-width: 0.25;
		}
	}
}

@media screen and (width >= 68.75rem) {
	.pagination {
		line-height: calc(35 / 16 * 1rem);
		margin-block-start: calc(62 / 16 * 1rem);
		margin-inline: auto;

		.previous,
		.next {
			margin-block: 0;
			margin-inline: calc(20 / 16 * 1rem);
		}

		.pagination-ellipsis {
			margin-block: calc(4 / 16 * 1rem);
			margin-inline: calc(0 / 16 * 1rem);

			span {
				font-size: calc(24 / 16 * 1rem);
			}
		}

		li.hide-on-mobile {
			display: block;
		}

		li:not(:first-child, :last-child) {
			padding-block-start: calc(4 / 16 * 1rem);
		}

		.pagination-list {
			inline-size: calc(640 / 16 * 1rem);
		}

		.pagination-link {
			block-size: calc(53 / 16 * 1rem);
			font-size: calc(24 / 16 * 1rem);
			inline-size: calc(53 / 16 * 1rem);
			line-height: calc(53 / 16 * 1rem);
			margin-block: 0;
			margin-inline: calc(13 / 16 * 1rem);
		}

		.pagination-next,
		.pagination-previous {
			line-height: calc(48 / 16 * 1rem);
		}
	}
}
