.post-article {
	.author {
		color: $grey-mid;
		font-style: italic;
	}

	.date {
		margin-block-end: calc(64 / 16 * 1rem);
	}

	.api-content {
		border-block-end: 2px solid $green-dark;
		margin-block-end: calc(24 / 16 * 1rem);
		padding-block-end: calc(160 / 16 * 1rem);
	}

	.tags-info {
		h2 {
			color: $green-dark;
			margin-block: calc(8 / 16 * 1rem);
			margin-inline: 0;
		}
	}

	.tags {
		margin-block-end: calc(80 / 16 * 1rem);
	}
}
