// Resource detail page
.resource-detail {
	.features {
		display: grid;
		grid-template-columns: calc(80 / 16 * 1rem) auto;
		row-gap: calc(32 / 16 * 1rem);

		svg {
			block-size: calc(48 / 16 * 1rem);
			inline-size: calc(48 / 16 * 1rem);
		}

		div {
			align-self: center;
		}

		.feature-name {
			color: $green-dark;
			font-weight: var(--font-weight-bold);
		}

		.learn-tag {
			background-color: $grey-light;
			border-radius: calc(22 / 16 * 1rem);
			display: inline-block;
			margin-block: calc(2 / 16 * 1rem);
			margin-inline: calc(8 / 16 * 1rem) 0;
			padding-block: calc(8 / 16 * 1rem);
			padding-inline: calc(16 / 16 * 1rem);
		}
	}
}

@media screen and (width >= 68.75rem) {
	.resource-detail {
		.features {
			align-items: center;
		}
	}
}
