// Styles for the search container
.search-container {
	align-items: center;
	display: flex;

	svg {
		block-size: rem(24);
		fill: $white;
		inline-size: rem(24);
		margin: rem(-29);

		// make sure search svg is displayed on top of the search input box
		z-index: 1;
	}

	input[type="search"] {
		border: 0;
		border-radius: 50%;
		font-size: rem(14);
		inline-size: rem(16);
		outline: none;
		padding-block: rem(8);
		padding-inline: rem(16);

		&:focus {
			border-radius: rem(28);
			inline-size: rem(160);
			padding-inline-start: rem(32);
		}
	}
}

@include breakpoint-up(lg) {
	.search-container {
		svg {
			margin: rem(-40);
		}

		input[type="search"],
		input[type="search"]:focus {
			border-radius: rem(28);
			font-size: rem(18);
			inline-size: rem(240);
			padding-block: rem(16);
			padding-inline: rem(56);
		}
	}
}
