// Styles for the search container
.search-container {
	position: relative;

	button {
		display: contents;
	}

	svg {
		block-size: rem(24);
		fill: $white;
		inline-size: rem(24);
		position: absolute;
	}

	input[type="search"] {
		border: 0;
		border-radius: 50%;
		font-size: rem(14);
		inline-size: rem(16);
		outline: none;
		padding-block: rem(8);
		padding-inline: rem(16);
	}
}
