.tile-item {
	border-radius: calc(18 / 16 * 1rem);
	box-shadow: calc(0 / 16 * 1rem) calc(0 / 16 * 1rem) calc(7 / 16 * 1rem) rgba(0 0 0 / 25%);
	display: grid;
	margin-block: calc(32 / 16 * 1rem);
	margin-inline: 0;

	&:hover {
		box-shadow: 0 0 calc(35 / 16 * 1rem) rgba(0 0 0 / 55%);
	}

	// Initiative title and descriptions
	.tile-narrative,
	.tile-resource {
		border-radius: calc(18 / 16 * 1rem) calc(18 / 16 * 1rem) calc(18 / 16 * 1rem) calc(18 / 16 * 1rem);
		min-block-size: calc(208 / 16 * 1rem);
		padding-block: 0 calc(16 / 16 * 1rem);
		padding-inline: calc(16 / 16 * 1rem);

		// Initiative titles
		h2 {
			border-block-end: calc(2 / 16 * 1rem) solid $grey-shade;
			padding-block-end: calc(16 / 16 * 1rem);
		}

		.author {
			color: $black;
			font-style: italic;
			font-weight: var(--font-weight-semibold);
		}

		.date {
			color: $grey-mid;
			font-style: italic;
			padding-block-end: calc(16 / 16 * 1rem);
		}

		.description {
			color: $black;
			font-weight: var(--font-weight-normal);
		}
	}

	.tile-resource {
		.h3 {
			border-block-end: none;
			color: $green-dark;
			padding-block-end: 0;
		}

		.info {
			color: $black;
			font-weight: var(--font-weight-normal);
			margin-block-start: calc(16 / 16 * 1rem);

			svg {
				block-size: calc(20 / 16 * 1rem);
				inline-size: calc(20 / 16 * 1rem);
				margin-inline-end: calc(12 / 16 * 1rem);
			}

			.resource-readability-list {
				display: inline;
				list-style: none;
				padding-inline-start: 0;

				li {
					display: inline;
				}
			}

			.resource-tags-list {
				margin-block: calc(16 / 16 * 1rem) 0;
				margin-inline: 0;
				padding-inline-start: 0;

				li {
					background: $grey-light;
					border-radius: calc(32 / 16 * 1rem);
					display: inline-block;
					margin-block: 0 calc(12 / 16 * 1rem);
					margin-inline: 0 calc(12 / 16 * 1rem);
					padding-block: calc(4 / 16 * 1rem);
					padding-inline: calc(16 / 16 * 1rem);
				}
			}
		}
	}

	// Initiative images
	.tile-image {
		display: none;
	}
}

@media screen and (width >= 68.75rem) {
	.tile-item {
		grid-template-columns: 70% 30%;
		grid-template-rows: 100%;

		.tile-narrative,
		.tile-resource {
			border-radius: calc(18 / 16 * 1rem) 0 0 calc(18 / 16 * 1rem);
			min-block-size: calc(336 / 16 * 1rem);
			padding-block: 0 calc(16 / 16 * 1rem);
			padding-inline: calc(32 / 16 * 1rem) calc(16 / 16 * 1rem);
		}

		// In order to apply border-radius, all inner elements need to have the same border-radius applied.
		// This includes the wrapper div.tile-image and inner img element.
		.tile-image {
			block-size: 100%;
			border-radius: 0 0 calc(18 / 16 * 1rem) calc(18 / 16 * 1rem);
			display: block;

			img,
			svg {
				block-size: 100%;
				border-radius: 0 calc(18 / 16 * 1rem) calc(18 / 16 * 1rem) 0;
				inline-size: 100%;
			}
		}
	}

	.resources .tile-item {
		grid-template-columns: 1fr;
		margin: 0;
	}
}
