<article class="comment">
  <p><span class="comment-name">{{ comment.name | safe }}</span> | <span class="comment-date">{{ comment.date | dateFilter }}</span></p>
  <p>{{ comment.comment}}</p>
</article>
