<div class="contact-info">
    <h2>Contact Us</h2>
    <div>
        <address>
            <a href="mailto:wecount@inclusivedesign.ca">wecount@inclusivedesign.ca</a><br>
			IDRC<br>
			205 Richmond Street West<br>
			Toronto, ON M5V 1V3
        </address>
        <div class="logo-ocadu-wrapper">
            <a href="https://idrc.ocadu.ca/">
                {% include 'svg/idrc.svg' %}
                <span class="screen-reader-only">Inclusive Design Research Centre</span>
            </a>
            <div class="logo-ocadu">
                <a href="https://ocadu.ca/">
                    {% include 'svg/ocadu.svg' %}
                    <span class="screen-reader-only">OCAD University</span>
                </a>
            </div>
        </div>
    </div>
</div>
