<div class="filter">
  <div class="filter-header">
    {# TODO: Dedupe this control #}
    <h2 class="h3">{{ topicsFilterTitle }}</h2>
    <button type="button" class="filter-expand-button" data-section="topics" aria-expanded="false" aria-label="expand">
      <svg class="arrowdown" aria-label="hidden"><use xlink:href="#arrowdown" /></svg>
      <svg class="arrowup" aria-label="hidden"><use xlink:href="#arrowup" /></svg>
    </button>
  </div>

  {# Topic selections #}
  <div class="filter-body" data-section="topics">
    <ul>
      {% for category in resourceCategories.resourceCategories %}
        {# Since there are multiple filters on the page (both for the static view and for the dynamic view),
        randomize checkbox IDs to ensure they're unique and avoid html validation errors #}
        {% set categoryId = category.categoryId | randomizeFilter %}
        <li>
          <input class="filter-checkbox" type="checkbox" id="{{ categoryId }}" name="{{ 'c_' + category.categoryId | slug }}">
          <label for="{{ categoryId }}">{{ category.categoryLabel }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="filter-header">
    {# TODO: Dedupe this control #}
    <h2 class="h3">{{ tagsFilterTitle }}</h2>
    <button type="button" class="filter-expand-button" data-section="tags" aria-expanded="false" aria-label="expand">
      <svg class="arrowdown" aria-label="hidden"><use xlink:href="#arrowdown" /></svg>
      <svg class="arrowup" aria-label="hidden"><use xlink:href="#arrowup" /></svg>
    </button>
  </div>

  <div class="filter-body" data-section="tags">
    {# Tag selections #}
    <ul class="filter-choices">
      {% for tag in resourceTags.resourceTags  %}
        {% set tagId = tag.value | randomizeFilter %}
        <li>
          <input class="filter-checkbox" type="checkbox" id="{{ tagId }}" name="{{ 't_' + tag.value | slug }}">
          <label for="{{ tagId }}">{{ tag.label }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="filter-header">
    {# TODO: Dedupe this control #}
    <h2 class="h3">{{ typeFilterTitle }}</h2>
    <button type="button" class="filter-expand-button" data-section="types" aria-expanded="false" aria-label="expand">
      <svg class="arrowdown" aria-label="hidden"><use xlink:href="#arrowdown" /></svg>
      <svg class="arrowup" aria-label="hidden"><use xlink:href="#arrowup" /></svg>
    </button>
  </div>

  <div class="filter-body" data-section="types">
    {# Media Type selections #}
    <ul class="filter-choices">
      {% for mediaType in resourceTypes.resourceTypes  %}
        {% set typeId = mediaType.value | randomizeFilter %}
        <li>
          <input class="filter-checkbox" type="checkbox" id="{{ typeId }}" name="{{ 'm_' + mediaType.value }}">
          <label for="{{ typeId }}">{{ mediaType.value }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="filter-buttons">
    <button class="apply-button" type="submit">
      <svg><use xlink:href="#apply" /></svg><span>Apply Filters</span>
    </button>
    <button class="reset-button" type="button">
      <svg><use xlink:href="#reset" /></svg><span>Reset Filters</span>
    </button>
  </div>
</div>
