<nav aria-label="Footer" class="footer-nav" style="display: none;">
    <ul>
        {%- for pageItem in collections.publicPages %}
            {%- if pageItem.menu_order > 0 %}
                <li><a {% if page.url === '/' + pageItem.slug + '/' %}aria-current="page" {% endif %}href="/{{ pageItem.slug }}/">{{ pageItem.title }}</a></li>
            {%- endif %}
        {%- endfor %}
        <li><a {% if page.url === '/news/' %}aria-current="page" {% endif %}href="/news/">News</a></li>
        <li><a {% if page.url === '/views/' %}aria-current="page" {% endif %} href="/views/">Views</a></li>
    </ul>
</nav>
