{% include 'components/subscribe.njk' %}
<footer>
  <div class="footer-content">
    {% include 'components/social-media.njk' %}
    {% include 'components/contact-info.njk' %}
    {% include 'components/funders.njk' %}
  </div>
  <p class="netlify-notice">Hosted with <a rel="external nofollower noopener" href="https://netlify.com">Netlify</a></p>
</footer>
