<div class="funders">
    <p>Supported by Innovation, Science and Economic Development Canada’s Accessible Technology Program.</p>
    <div><a href="https://www.ic.gc.ca/eic/site/118.nsf/eng/home">{% include 'svg/canada.svg' %} <span class="screen-reader-only">Accessible Technology Program</span></a></div>
</div>
