<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="canada-logo" viewBox="0 0 143.11 34.11">
    {% include 'svg/canada.svg' %}
  </symbol>
  <symbol id="hewlett-logo" viewBox="0 0 599.91 127.9">
    {% include 'svg/hewlett-foundation.svg' %}
  </symbol>
  <symbol id="idea-logo">
    {% include 'svg/idea-white.svg' %}
  </symbol>
</svg>

<div class="funders">
  <p>Funded by grants from The William and Flora Hewlett Foundation and IDEA.</p>
  <div>
    <a class="funder-logo" href="https://hewlett.org/">
      <svg class="hewlett-logo"><use xlink:href="#hewlett-logo" /></svg>
      <span class="screen-reader-only">Funded by grants from The William and Flora Hewlett Foundation.</span>
    </a>
    <a class="funder-logo" href="https://www.vraie-idea.ca/">
      <svg class="idea-logo"><use xlink:href="#idea-logo" /></svg>
      <span class="screen-reader-only">Funded by grants from IDEA.</span>
    </a>
  </div>
  <p>Supported by Innovation, Science and Economic Development Canada’s Accessible Technology Program.</p>
  <div>
    <a class="funder-logo" href="https://www.ic.gc.ca/eic/site/118.nsf/eng/home">
      <svg class="canada-logo"><use xlink:href="#canada-logo" /></svg>
      <span class="screen-reader-only">Accessible Technology Program</span>
    </a>
  </div>
</div>
