<article class="news-item">
		{% if pageContext === 'views' %}
    <figure class="preview-media">
        {% include 'svg/placeholder.svg' %}
    </figure>
		{% endif %}
    <h2 class="h3">
        <a href="{{ item.href }}">{{ item.title | safe }}</a>
    </h2>
		{% if pageContext === 'views' %}
    <div class="author">By {{ item.author | safe }}</div>
		{% endif %}
    <div class="date">
        <time datetime="{{ item.dateTime | w3DateFilter }}" class="dt-published">{{ item.dateTime | dateFilter }}</time>
    </div>
    <div class="preview-content">
        {{ item.excerpt | striptags | safe }}
    </div>
</article>
