<div class="site-nav-inner">
{% include 'components/brand.njk' %}
<a class="header-join" href="/recount">Join the conversation</a>
<button id="menuToggleButton" aria-expanded="false">
    <svg class="menu-open" aria-hidden="true"><use xlink:href="#menu-icon" /></svg>
    <svg class="menu-close" aria-hidden="true"><use xlink:href="#menu-close" /></svg>
    <span class="label">MENU</span>
</button>
{%- from './search.macro.njk' import search %}
<form method="get" action="/search/" class="search-form">
{{ search({placeholder: "Search …", label: "Enter keywords for a site-wide search"}) }}
</form>
</div>
{% include 'components/nav-menu.njk' %}
