<header>
	{% include 'components/brand.njk' %}
    <div class="site-nav-wrapper">
        <div class="site-nav">
            {% include 'components/header-nav.njk' %}
            {% include 'components/search.njk' %}
        </div>
    </div>
</header>
