<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="menu-icon" viewBox="0 0 1536 1536">
		{% include 'svg/menu.svg' %}
	</symbol>
</svg>

<div class="nav-wideScreen">
	{% include 'components/nav-menu.njk' %}
	{% include 'components/search-container.njk' %}
</div>

<div class="nav-smallScreen">
	<nav class="starter-nav">
		<button id="menuToggleButton" aria-expanded="false">
		  <svg><use xlink:href="#menu-icon" /></svg>&nbsp;Menu
		</button>
		{% include 'components/search-container.njk' %}
	</nav>

	{% include 'components/nav-menu.njk' %}
</div>
