<div class="idrc-indicator-wrapper">
    <div class="idrc-indicator">
        <div class="idrc-indicator-element">
            <span><em>We Count</em>: Artificial Intelligence Inclusion Projects from {% include "svg/idrc-logo.svg" %} <b>Inclusive Design Research Centre</span>
        </div>
    </div>
</div>
