<div class="idrc-indicator-wrapper">
    <div class="idrc-indicator">
        <div class="idrc-indicator-element">
            <span><em>We Count: Artificial Intelligence<br>Inclusion Projects from</em> <b>Inclusive<br>Design Research Centre</b></span>
        </div>
    </div>
</div>
