<h2>Rhetoric</h2>
<div class="fl-mapviz-container">
    <div class="fld-mapviz-map-holder">
        <div class="fld-mapviz-map">
        </div>
        <div class="fl-mapviz-queryheader">Query Covid Testing Centers</div>
        <div>
        <label for="distance">Within: </label><select class="fld-mapviz-distance" id="distance">
            <option value="1">Within 1 mile</option>
            <option value="3">Within 3 miles</option>
            <option value="5">Within 5 miles</option>
            <option value="10" selected="selected">Within 10 miles</option>                      
            <option value="20">Within 20 miles</option>
            <option value="50">Within 50 miles</option>
            <option value="100">Within 100 miles</option>
        </select>
        <label for="postcode">of Postcode </label><input class="fld-mapviz-postcode" id="postcode" type="text" value="M5T 1W1"/>
        <label for="accessible">Show accessible centers only: </label><input class="fld-mapviz-accessible" type="checkbox" checked="checked"/>
        </div>
        <table class="fld-mapviz-table">
        </table>
    </div>
</div>
