<nav class="primary-nav" aria-label="Primary Navigation">
  {%- for pageItem in collections.pages %}
    {%- if pageItem.menu_order > 0 %}
    <a {% if page.url === '/' + pageItem.slug + '/' %}aria-current="page" {% endif %}href="/{{ pageItem.slug }}/">{{ pageItem.title }}</a>
    {%- endif %}
  {%- endfor %}
  <a {% if page.url === '/news/' %}aria-current="page" {% endif %}href="/news/">News</a>
  <a {% if page.url === '/views/' %}aria-current="page" {% endif %} href="/views/">Views</a>
  <a {% if page.url === '/map/' %}aria-current="page" {% endif %} href="/map/">Map</a>
</nav>
