<div class="search-container">
  <input name="s" type="search" placeholder="{{ placeholderForSearch }}" aria-label="{{ ariaLabelForSearch }}">
  <svg role="button" type="submit" tabindex="0"><use xlink:href="#search" /></svg>
</div>
