<div class="search-container">
	{% include 'svg/search.svg' %}
	<form method="get" action="/search/">
		<input name="s" type="search" placeholder="Search..." aria-label="Enter keywords for a site-wide search">
	</form>
</div>
