<div class="search-container">
	{% include 'svg/search.svg' %}
	<form id="search-form" method="get" action="{{ searchAction }}">
		<input name="s" type="search" placeholder="{{ placeholderForSearch }}" aria-label="{{ ariaLabelForSearch }}">
	</form>
</div>
