<div class="subscribe">
  <p class="subscribe-text">Subscribe now to stay up-to-date with We Count's activities and the latest news from the field.</p>
  <a class="subscribe-link" href="http://eepurl.com/hBMRev">Click to Subscribe</a>
  <hr/>
</div>