<div class="subscribe">
    <p class="subscribe-text">Get <em><b>We Count Recount newsletter</b></em> and stay up-to-date with our activities and news from the field — sent directly to your inbox.</p>
    <a class="subscribe-link" href="http://eepurl.com/hBMRev">Click to Subscribe</a>
</div>
