<a href="{{ tileURL }}">
  <div class="tile-item">
    <div class="tile-resource">
      <h2 class="h3">{{ title | safe }}</h2>
      {# TODO: localize these items/labels #}
      <div class="info">
        Media Type: {{ mediaType | safe }}
      </div>
      {% if readabilityList %}
      <div class="info">
        Readability:
        <ul class="resource-readability-list">
          {%- for readability in readabilityList -%}
          <li>{{ resourceReadabilityLevels[readability] | safe }}{% if not loop.last %},{% endif %}</li>
          {%- endfor -%}
        </ul>
      </div>
      {% endif %}
      <div class="info">
        {# TODO: look up and show topic based on this item's focus #}
        Focus: {{ focus | safe }}
      </div>
      {% if tags %}
      <div class="info">
        Tags:
        <ul class="resource-tags">
          {%- for tag in tags -%}
          {# TODO: expand these values into terms based on a lookup list #}
          <li>{{ tag | safe }}</li>
          {%- endfor -%}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</a>
