<div class="one-workshop">
	<div class="workshop-narrative">
		<h2 class="h3"><a href="/initiatives/{{ workshop.id }}">{{ workshop.title | safe }}</a></h2>
		<div class="description">{{ workshop.shortDescription | safe }}</div>
	</div>
	<div class="workshop-image">
		<a href="/initiatives/{{ workshop.id }}">
			{% if workshop.imageUrl %}
				<img src="{{ workshop.imageUrl | safe }}" alt="{{ workshop.imageAlt }}">
			{% else %}
				<img src="/images/workshop.png" alt="{{ workshop.title | safe }}">
			{% endif %}
		</a>
	</div>
</div>
