<article class="workshop">
	<h2>{{ workshop.title }}</h2>
	{% if workshop.imageUrl %}
	<img src="{{ workshop.imageUrl | safe }}" alt="{{ workshop.altTag }}">
	{% endif %}

	<div class="description">{{ workshop.shortDescription }}</div>
</article>
