// CSS classes for the "Advisory Panel" page
.advisory-panel {
	.api-content > .wp-block-group {
		border-radius: 0 0 3px 3px;
	}

	h2:not(.h3) {
		border-bottom: none;
		color: $green-dark;
		margin: 0;
		text-transform: uppercase;
	}

	img {
		height: 100%;
		width: 100%;
	}

	// Button links for expand/collapse
	a {
		font-weight: normal;
		padding: 0 rem(5);
	}

	// Initially, hide bio descriptions
	.wp-block-group__inner-container > p {
		display: none;
		padding-top: rem(16);
	}

	// The wrapper container for one's photo, name and job title
	.wp-block-media-text {
		// Use "!important" to override the inline style from WordPress
		grid-template-columns: 30% auto !important;
	}

	// Photos
	.wp-block-media-text .wp-block-media-text__media {
		align-self: start;
		margin: 0;
	}

	// Names and job titles
	.wp-block-media-text .wp-block-media-text__content {
		display: grid;
		grid-template-columns: 90% 10%;
		grid-template-rows: auto auto 1fr;

		// The expand/collapse button
		.wp-block-group {
			font-size: rem(24);
			grid-column-start: 2;
			grid-row-start: 1;
			margin: 0;
		}

		// Names and job titles
		h2 ~ h2,
		p {
			grid-column-end: 3;
			grid-column-start: 1;
			justify-self: start;
		}

		// Job titles
		p {
			margin: unset;
			padding-top: rem(16);
		}
	}

	// Add box shadows to bio description paragraphs
	& > .api-content > .wp-block-group > .wp-block-group__inner-container > .wp-block-group > .wp-block-group__inner-container > .wp-block-group {
		box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);

		& > .wp-block-group__inner-container {
			padding: rem(16);
		}
	}
}

@include breakpoint-up(lg) {
	.advisory-panel {
		// The wrapper container for one's photo, name and job title
		.wp-block-media-text {
			// Use "!important" to override the inline style from WordPress
			grid-template-columns: 20% auto !important;
		}

		// Names and job titles
		.wp-block-media-text .wp-block-media-text__content {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto 1fr auto;

			// The expand/collapse button
			.wp-block-group {
				font-size: rem(48);
				grid-column-start: 1;
				grid-row-start: 4;
				justify-self: end;
			}
		}
	}
}

// This media query breakpoint is for the Galaxy Fold screen.
@include breakpoint-down(xs) {
	.advisory-panel {
		& > .api-content > .wp-block-group > .wp-block-group__inner-container > .wp-block-group > .wp-block-group__inner-container > .wp-block-group {
			margin: 0 -1.5rem;
		}
	}
}
