aside {
	display: none;
	justify-self: end;
}

@media screen and (min-width: rem(1024)) {
	#defaultContainer aside {
		display: inherit;
		padding-top: rem(58);

		nav {
			ul {
				border-left: 1px solid $green-dark;
				list-style-type: none;
				margin-left: rem(45);
				padding: 0 rem(0);
				position: -webkit-sticky;
				position: sticky;
				top: rem(58);
				width: rem(195);

				li {
					line-height: rem(34);
					margin: 0 0 rem(23) 0;
					padding-left: rem(30);
					width: rem(151);
					word-wrap: break-word;

					&:active {
						border-left: rem(5) solid $green-dark;
						left: rem(-3);
						margin: 0 0 rem(23) 0;
						padding-left: rem(30);
						position: relative;
					}

					a {
						color: $navy-light;
						font-size: rem(24) !important; // Enactors.css in infusion uses !important on this element
						font-weight: $font-weight-normal;
					}

					&:first-child {
						a {
							font-weight: $font-weight-bold;
						}
					}
				}

				li.active {
					border-left: rem(5) solid $green-dark;
					left: rem(-3);
					margin: 0 0 rem(23) 0;
					padding-left: rem(30);
					position: relative;
				}
			}
		}
	}
}
