aside {
	display: none;
	justify-self: end;
}

@include breakpoint-up(lg) {
	#defaultContainer aside {
		display: inherit;
		padding-top: rem(58);

		nav {
			ul {
				box-shadow: rem(1) 0 0 0 $green-dark inset;
				list-style-type: none;
				margin-left: rem(45);
				padding: 0 rem(0);
				position: -webkit-sticky;
				position: sticky;
				top: rem(58);
				width: rem(195);

				li {
					left: rem(-2);
					margin: 0 0 rem(23) 0;
					padding-left: rem(20);
					width: rem(158);
					word-wrap: break-word;

					&.active {
						box-shadow: rem(5) 0 0 0 $green-dark inset;
						padding-left: rem(22);
						position: relative;
					}

					a {
						color: $navy-light;
						font-size: rem(18) !important; // Enactors.css in infusion uses !important on this element
						font-weight: $font-weight-normal;
					}

					&:first-child {
						a {
							font-weight: $font-weight-bold;
						}
					}
				}
			}
		}
	}
}
