.brand {
	height: rem(72);
	margin: auto;
	max-width: $max-width-margins;

	a {
		align-items: center;
		color: $navy-dark;
		display: flex;
		height: inherit;
		padding-right: rem(16);
	}

	.logo {
		height: rem(52);
		margin: 0 rem(16);
		width: rem(52);
	}

	.logotype {
		height: rem(32);
		width: rem(200);
	}
}

@media screen and (min-width: rem(1024)) {
	.brand {
		a {
			display: inline-flex;
		}
	}
}

[class^="fl-theme"],
[class^="gpii-ext-theme"] {
	.logo circle,
	.logo path {
		fill: none;
		stroke: var(--logo-stroke, currentColor);
		stroke-linecap: round;
		stroke-width: 0.1875rem;
	}
}

.fl-theme-bbr,
.gpii-ext-theme-bbr {
	--logo-stroke: #{$black};
}

.fl-theme-gw,
.gpii-ext-theme-gw,
.fl-theme-gd,
.gpii-ext-theme-gd {
	--logo-stroke: #{$grey};
}
