.brand {
	height: rem(72);
	margin: auto;
	max-width: $max-width-margins;

	a {
		align-items: center;
		color: $navy-dark;
		display: flex;
		height: inherit;
		padding-right: rem(16);
	}

	.logo {
		height: rem(52);
		margin: 0 rem(16);
		width: rem(52);
	}

	.logotype {
		height: rem(32);
		width: rem(200);
	}
}

@media screen and (min-width: rem(1024)) {
	.brand {
		a {
			display: inline-flex;
		}
	}
}
