.homepage-cards {
	display: grid;
	grid-gap: rem(38);
	grid-template-columns: repeat(1, 1fr);
	padding: rem(89) rem(60) rem(50);

	.card {
		background-color: $white;
		background-repeat: no-repeat;
		box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);

		&:hover,
		&:focus {
			box-shadow: rem(10) rem(10) rem(10) rgba(0, 0, 0, 0.25);
		}
	}

	.blue {
		background-image: url("../images/distribution--blue.svg");
		background-position-x: rem(-80);
		background-size: 120% 162%;
	}

	.green {
		background-image: url("../images/distribution--green.svg");
		background-position: rem(-100) rem(10);
		background-size: 100% 100%;
	}

	.yellow {
		background-image: url("../images/distribution--yellow.svg");
		background-size: 200% 101%;
	}

	a {
		height: rem(213);

		h2 {
			color: $navy-light;
			font-weight: $font-weight-medium;
			line-height: rem(35);
			margin: rem(9) rem(16);
		}

		.green-title {
			margin-left: rem(145);
		}
	}
}

@media screen and (min-width: rem(1024)) {
	.homepage-cards {
		background-color: $white;
		grid-gap: rem(38);
		// TODO: Make 3 columns again.
		grid-template-columns: repeat(2, 1fr);
		padding-top: 0;

		a {
			.green-title {
				margin-left: rem(86);
			}
		}
	}
}
