.homepage-cards {
	display: grid;
	grid-gap: rem(38);
	grid-template-columns: repeat(1, 1fr);
	padding: 0 rem(32) rem(50) rem(32);

	.card {
		background-color: $white;
		background-position: 50% 80%;
		background-repeat: no-repeat;
		border-radius: rem(10);
		box-shadow: 0 rem(4) rem(4) rgba(0 0 0 / 25%);
		height: rem(216);
		text-align: center;

		&:hover,
		&:focus {
			box-shadow: rem(10) rem(10) rem(10) rgba(0 0 0 / 25%);
		}

		h2 {
			color: $navy-light;
			font-size: rem(18);
			line-height: rem(22);
			margin: rem(15) rem(19);
		}
	}

	.blue {
		background-color: $blue-grey;
		background-image: url("../images/blue.svg");
	}

	.green {
		background-color: $green-grey;
		background-image: url("../images/green.svg");
	}

	.yellow {
		background-color: $yellow;
		background-image: url("../images/yellow.svg");
	}

	.azure {
		background-color: $azure;
		background-image: url("../images/azure.svg");
	}
}

@include breakpoint-up(lg) {
	.homepage-cards {
		grid-template-columns: repeat(4, 1fr);
		padding: 0 rem(60) rem(50) rem(60);
	}
}
