.homepage-cards {
	display: grid;
	grid-gap: rem(38);
	grid-template-columns: repeat(1, 1fr);
	padding: rem(89) rem(60) rem(50);

	.card {
		background-color: $white;
		background-repeat: no-repeat;
		box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);

		&:hover,
		&:focus {
			box-shadow: rem(10) rem(10) rem(10) rgba(0, 0, 0, 0.25);
		}
	}

	.blue {
		background-image: url("../images/distribution--blue.svg");
		background-position: 95% 100%;
	}

	.green {
		background-image: url("../images/distribution--green.svg");
		background-position: 85% 80%;
	}

	.yellow {
		background-image: url("../images/distribution--yellow.svg");
		background-position: 85% 80%;
	}

	a {
		height: rem(213);

		h2 {
			color: $navy-light;
			font-size: rem(18);
			line-height: rem(22);
			margin: rem(15) rem(19);
		}

		.green-title {
			margin-left: rem(145);
		}
	}
}

@include breakpoint-up(lg) {
	.homepage-cards {
		background-color: $white;
		grid-gap: rem(38);
		grid-template-columns: repeat(3, 1fr);
		padding-top: 0;

		a {
			.green-title {
				margin-left: rem(86);
			}
		}
	}
}
