// Component-specific styles.
@import "aside";
@import "badges";
@import "brand";
@import "cards";
@import "expander";
@import "filter";
@import "identity";
@import "idrc-indicator";
@import "initiatives";
@import "map";
@import "news-and-views";
@import "news-grid";
@import "pagination";
@import "post-article";
@import "resource-detail";
@import "resources";
@import "search-container";
@import "team";
@import "tile-item";
