// Styles for the filter

// CSS classes for "apply filter" and "reset filter" buttons
.stroke-black {
	stroke: var(--currentColor, black);
}

.fill-black {
	fill: var(--currentColor, black);
}

.fill-c4c4c4 {
	fill: var(--currentColor, #c4c4c4);
}

// CSS classes for the "expand filter" button
.expand-svg {
	fill: var(--expand-button-color, $gold-light);
	stroke: var(--expand-button-stroke-color, $blue-alt-light);
	stroke-width: var(--expand-button-stroke-width, rem(4));
}

.filter {
	border: rem(1) solid $blue-alt-light;
	margin-bottom: rem(48);

	// Transparent buttons
	button {
		background-color: transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		outline: none;
		overflow: hidden;
	}

	// Custom checkboxes. Reference: https://codepen.io/spacemonkey/pen/vmZROv
	.filter-checkbox {
		opacity: 0; // hide it
		position: absolute; // take it out of document flow

		& + label {
			cursor: pointer;
			padding: 0;
			position: relative;
		}

		// Box
		& + label::before {
			content: '';
			display: inline-block;
			height: rem(20);
			margin-right: rem(10);
			outline: rem(1) solid $blue-alt-light;
			vertical-align: text-top;
			width: rem(20);
		}

		// Checkmark
		&:checked + label::after {
			background: $blue-alt-light;
			box-shadow:
				rem(2) 0 0 white,
				rem(4) 0 0 white,
				rem(4) rem(-2) 0 white,
				rem(4) rem(-4) 0 white,
				rem(4) rem(-6) 0 white,
				rem(4) rem(-8) 0 white;
			content: '';
			height: rem(2);
			left: rem(5);
			position: absolute;
			top: rem(9);
			transform: rotate(45deg);
			width: rem(2);
		}
	}
	// End of custom checkboxes

	.filter-header {
		background-color: $gold-light;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		h2 {
			border-bottom: none;
			line-height: rem(8);
			padding-left: rem(8);
		}

		button {
			margin-right: rem(16);
		}

		svg {
			height: rem(24);
			width: rem(24);
		}
	}

	.filter-choices {
		display: grid;
		grid-template-columns: repeat(1, auto);
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			padding: rem(4) rem(8);

			// Hanging indent for label texts
			label {
				display: block;
				padding-left: rem(29);
				text-indent: rem(-30);
			}
		}
	}

	.filter-buttons {
		background-color: $grey-lighter;
		border-top: rem(1) solid $blue-alt-light;
		display: flex;
		justify-content: flex-end;

		svg {
			fill: none;
			height: rem(40);
			margin-right: rem(3);
			padding: rem(3);
			width: rem(40);
		}

		span {
			font-size: rem(14);
		}
	}

	.apply-button,
	.reset-button {
		padding: rem(1) rem(3);

		span {
			display: inline-flex;
		}

		&:focus,
		&:hover {
			svg {
				background-color: $gold-light;
			}
		}
	}

	.filter-expand-button:focus,
	.filter-expand-button:hover {
		--expand-button-color: #{$blue-alt-light};
		--expand-button-stroke-color: #{$gold-light};
		--expand-button-stroke-width: 0;
	}
}

// Custom styles when "enhance inputs" is enabled
// Custom checkbox
.fl-input-enhanced .filter-checkbox + label::before {
	outline: rem(3) double $blue-alt-light;
}

// Box checked
.filter .filter-checkbox:checked + label::before {
	background: $blue-alt-light;
}

// Box focus
.filter .filter-checkbox:focus + label::before,
.filter .filter-checkbox:hover + label::before {
	outline: rem(2.5) solid $blue-alt-light;
}

// Box focus when "enhance inputs" is enabled
.fl-input-enhanced .filter-checkbox:focus + label::before,
.fl-input-enhanced .filter-checkbox:hover + label::before {
	border: rem(2.5) solid $blue-alt-light;
	outline: rem(3.5) double $blue-alt-light;
}

// Box checked and focus/hover
.filter .filter-checkbox:checked:focus + label::before,
.filter .filter-checkbox:checked:hover + label::before {
	outline: rem(3) double $blue-alt-light;
}

// Box checked and focus/hover
.fl-input-enhanced .filter-checkbox:checked:focus + label::before,
.fl-input-enhanced .filter-checkbox:checked:hover + label::before {
	border: rem(1) solid white;
	box-shadow: 0 0 0 rem(1) $blue-alt-light inset;
	outline: rem(3) double $blue-alt-light;
}

@media screen and (min-width: 1024px) {
	.filter {
		.filter-header {
			h2 {
				padding-left: rem(16);
			}

			button {
				margin-right: rem(24);
			}
		}

		.filter-choices {
			grid-template-columns: repeat(2, auto);

			li {
				padding: rem(4) rem(16);
			}
		}

		.filter-buttons {
			button {
				margin-right: rem(8);
				padding: rem(4);
			}

			span {
				font-size: rem(18);
			}
		}
	}
}
