// Workshop page
.workshop-page {
	.workshop-cover-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}

	.description {
		margin-bottom: rem(100);

		h3 {
			border-bottom: rem(5) solid $gold;
			line-height: rem(60);
		}
	}
}

// Initiatives page: Workshop section
.workshops {
	// Every workshop card
	.one-workshop {
		border-radius: rem(18);
		box-shadow: rem(0) rem(0) rem(7) rgba(0, 0, 0, 0.25);
		display: grid;
		margin: rem(32) 0 rem(32) 0;

		&:hover {
			box-shadow: 0 0 rem(35) rgba(0, 0, 0, 0.55);
		}

		// Workshop title and descriptions
		.workshop-narrative {
			border-radius: rem(18) rem(18) rem(18) rem(18);
			min-height: rem(208);
			padding: 0 rem(16) rem(16) rem(16);

			// Workshop titles
			h2 {
				border-bottom: rem(2) solid $grey-shade;
				padding-bottom: rem(16);
			}

			.description {
				color: $black;
				font-weight: $font-weight-normal;
			}
		}

		// Workshop images
		.workshop-image {
			display: none;
		}
	}
}

.comments {
	margin-top: rem(50);

	p:first-child {
		color: $grey-light;
	}

	.comment-name {
		color: $black;
		font-weight: $font-weight-medium;
	}

	.submitted-comment {
		color: $grey-light;

		.comment-name {
			color: $grey-light;
		}
	}

	.comment {
		margin-bottom: rem(60);
		padding-bottom: rem(1);
		padding-left: 0;
	}
}

.submit-success-message,
.submit-failure-message {
	display: none;
	margin: auto;
	text-align: center;

	span {
		border-radius: rem(3);
		display: block;
		padding: rem(12);
	}

	.fl-syllabification-separator {
		display: inline;
		padding: 0;
	}
}

.submit-success-message span {
	background: $gold-light;
}

.submit-failure-message span {
	background: $red-light;
}

#comment-form {
	margin-bottom: rem(150);

	.asterisk-def {
		color: $grey-light;
		display: inline;
		font-size: rem(20);
	}

	.form-field {
		margin-bottom: rem(40);

		.required-name,
		.required-comment {
			display: none;

			&:invalid {
				display: block;
			}
		}
	}

	input {
		height: rem(45);
	}

	textarea {
		height: rem(138);
	}

	input,
	textarea {
		border: rem(1) solid $green-dark;
		border-radius: rem(12);
		box-sizing: border-box;
		display: block;
		font-size: rem(18);
		margin-top: rem(3);
		padding: rem(15);
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	span:not(.fl-syllabification-separator) {
		color: $red;
		font-size: rem(20);
		font-style: italic;
		font-weight: $font-weight-bold;
		margin-right: rem(7);
	}

	h3 {
		font-size: rem(24);
		margin-bottom: 0;
	}

	h4 {
		display: inline;
		font-size: rem(20);
		font-weight: $font-weight-medium;
		margin-right: rem(20);
	}
}

// Button style shared by the "register here" button on the Intiatives page and the "post a comment" button on the Workshop page
#comment-form button {
	background-color: $white;
	border: 0;
	border-radius: rem(33);
	box-shadow: 0 0 0 rem(2) $green-dark inset;
	box-sizing: border-box;
	color: $green-dark;
	font-size: rem(16);
	font-weight: $font-weight-semibold;
	height: rem(41);
	line-height: rem(24);
	padding: rem(8) rem(34);
	transform: perspective(rem(1)) translateZ(0);

	&::before {
		border-radius: rem(26);
		box-shadow: 0 0 0 rem(2) $green-dark inset;
		content: '';
		height: rem(41);
		left: 0;
		opacity: 1;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&:hover::before,
	&:focus::before,
	&:active::before {
		left: rem(4);
		top: rem(4);
	}

	&::-moz-focus-inner {
		outline: none;
	}

	&:focus {
		outline: none;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $green-dark;
	}
}

// Use higher specificity to define special style for two buttons to avoid css linting errors
.workshop-page #comment-form button {
	float: right;
	margin: rem(29) 0;
}

@include breakpoint-up(lg) {
	// Initiatives page: Workshop section
	.workshops {
		.one-workshop {
			grid-template-columns: 70% 30%;
			grid-template-rows: 100%;

			.workshop-narrative {
				border-radius: rem(18) 0 0 rem(18);
				min-height: rem(336);
				padding: 0 rem(16) rem(16) rem(32);
			}

			// In order to apply border-radius, all inner elements need to have the same border-radius applied.
			// This includes the wrapper div.workshop-image and inner img element.
			.workshop-image {
				border-radius: 0 0 rem(18) rem(18);
				display: block;
				height: 100%;

				img {
					border-radius: 0 0 rem(18) rem(18);
					height: 100%;
					width: 100%;
				}
			}
		}
	}

	#comment-form button {
		width: auto;
	}
}

// Same as the UIO breakpoint for UIO adaptation.
@include breakpoint-up(sm) {
	#comment-form input[name="name"] {
		width: rem(263);
	}
}

// This media query breakpoint is for the Galaxy Fold screen.
@include breakpoint-down(xs) {
	#comment-form button {
		height: rem(54);

		&::before {
			height: rem(54);
		}
	}
}
