[data-netlify-identity-button] {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

// Button style shared by the "register here" button on the Intiatives page and the "post a comment" button on the Initiative page
.netlify-identity-button {
	background-color: $white;
	border: 0;
	border-radius: rem(33);
	box-shadow: 0 0 0 rem(2) $green-dark inset;
	box-sizing: border-box;
	color: $green-dark;
	font-size: rem(16);
	font-weight: $font-weight-semibold;
	height: rem(41);
	line-height: rem(24);
	padding: rem(8) rem(34);
	position: relative;
	transform: perspective(rem(1)) translateZ(0);

	&::before {
		border-radius: rem(26);
		box-shadow: 0 0 0 rem(2) $green-dark inset;
		content: '';
		height: rem(41);
		left: 0;
		opacity: 1;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&:hover::before,
	&:focus::before,
	&:active::before {
		left: rem(4);
		top: rem(4);
	}

	&::-moz-focus-inner {
		outline: none;
	}

	&:focus {
		outline: none;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $green-dark;
	}
}

@include breakpoint-up(lg) {
	.netlify-identity-button {
		width: auto;
	}
}

// This media query breakpoint is for the Galaxy Fold screen.
@include breakpoint-down(xs) {
	.netlify-identity-button {
		height: rem(54);

		&::before {
			height: rem(54);
		}
	}
}
