// The specificity of #defaultContainer.map is required to override the use of #defaultContainer in other css files
#defaultContainer.map {
	// Hide the footer when the map is in the mobile view
	footer {
		display: none;
	}

	.content-wrapper {
		display: flex;

		aside {
			display: none;
		}

		main {
			margin: 0;
			max-width: 160ch;
		}

		.fl-mapviz-query-reset svg {
			margin-bottom: 0.7rem;
		}

		.fl-mapviz-reset-filters,
		.fl-mapviz-apply-filters {
			font-size: 0.875rem;
		}
	}
}

@include breakpoint-up(lg) {
	#defaultContainer.map {
		footer {
			display: block;
		}

		.content-wrapper {
			.fl-mapviz-search-results,
			.fl-mapviz-filter-panel,
			.fl-mapviz-city-list {
				max-height: inherit;
			}

			.fl-mapviz-reset-filters,
			.fl-mapviz-apply-filters {
				font-size: 1rem;
			}
		}
	}
}
