.post-article {
	.author {
		color: $grey-light;
		font-style: italic;
	}

	.date {
		margin-bottom: rem(64);
	}

	.api-content {
		border-bottom: 2px solid $green-dark;
		margin-bottom: rem(24);
		padding-bottom: rem(160);
	}

	.tags-info {
		h2 {
			color: $green-dark;
			margin: rem(8) 0;
		}
	}

	.tags {
		@include tags();

		margin-bottom: rem(80);
	}
}
