.fill-465d8b {
	fill: var(--currentColor, #465d8b);
}

.stroke-465d8b {
	stroke: var(--currentColor, #465d8b);
}

.fill-stroke-465d8b {
	fill: var(--currentColor, #465d8b);
	stroke: var(--currentColor, #465d8b);
}

.fill-white-stroke-465d8b {
	fill: var(--bColor, white);
	stroke: var(--currentColor, #465d8b);
}

// Resources page
.resources {
	h1 {
		margin-bottom: 0;
	}

	.api-content {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: rem(32);

		a:hover,
		a:focus {
			border-radius: rem(18);
		}

		.tile-item {
			height: auto;
			margin: 0;

			.tile-resource {
				border-radius: rem(18);
				padding: 0 rem(16) rem(8) rem(16);
			}
		}
	}

	.search-container {
		margin: rem(32) 0 0 0;

		input[type="search"] {
			border: none;
			box-shadow: 0 0 rem(7) $border-shadow-colour;
		}
	}

	.filter {
		background-color: $grey-lightest;
		border: none;
		border-radius: rem(9);
		box-shadow: 0 0 rem(7) $border-shadow-colour;
		margin-bottom: rem(32);
		padding: rem(8) rem(16);

		h2 {
			border-bottom: rem(1) solid $grey-mid-light;
			font-size: rem(25);
			font-weight: $font-weight-bold;
			margin: 0;
			padding: 0 0 rem(12) rem(4);
			text-transform: uppercase;
		}

		h3 {
			border-bottom: none;
			color: $grey-dark;
			font-size: rem(18);
			line-height: rem(40);
		}

		.filter-buttons {
			background-color: initial;
			border-top: none;
			gap: rem(8);
			margin-top: rem(24);

			button {
				background-color: $white;
				box-shadow: 0 0 rem(7) $border-shadow-colour;
			}
		}

		.filter-header {
			background-color: initial;
			border-bottom: rem(1) solid $grey-mid-light;
			margin: 0;
			padding: 0 rem(16);

			&:hover {
				box-shadow: 0 rem(3) rem(2) rem(-2) rgba(0, 0, 0, 0.6);
			}

			button {
				align-self: center;
				height: rem(32);
				margin-right: 0;
				padding: 0;
			}
		}

		.filter-body {
			.filter-clear {
				display: flex;
				justify-content: end;

				button {
					color: $green-dark;
					font-size: rem(18);
					font-weight: $font-weight-semibold;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}

		.filter-expand-button {
			--expand-button-color: none;
			--expand-button-stroke-color: #{$grey-dark};

			svg {
				background-color: initial !important;

				.expand-svg {
					fill: none;
				}
			}

			&:focus,
			&:hover {
				--expand-button-color: #{$grey-dark};
				--expand-button-stroke-color: #{$grey-dark};
			}
		}

		.topic-choices {
			display: flex;
			flex-wrap: wrap;
			font-size: rem(20);
			gap: rem(18);
			list-style: none;
			padding-left: 0;

			li {
				display: grid;
				flex: initial;
				grid-template-rows: 1fr min-content;
				text-align: center;

				svg {
					height: rem(80);
					width: 100%;
				}

				.topic-title {
					align-items: center;
					border-radius: $topic-title-border-radius $topic-title-border-radius 0 0;
					column-gap: rem(16);
					cursor: pointer;
					display: grid;
					font-weight: $font-weight-semibold;
					grid-template-columns: 2fr 1fr;
					height: auto;
					padding: rem(16);
				}

				// topic title background
				.aiAndDisability { background-color: $azure; }
				.dataScience { background-color: $blue-grey; }
				.aiEthics { background-color: $green-grey; }
				.designAndMethods { background-color: $yellow; }

				.topic-checkbox {
					background: $white;
					border: 1px solid $blue-alt-light;
					border-radius: 0 0 $topic-title-border-radius $topic-title-border-radius;

					.filter-checkbox + label {
						// The same "border-radius" needs to be applied to the inner container for border
						// curves displayed properly on the outer container
						border-radius: 0 0 $topic-title-border-radius $topic-title-border-radius;
						display: block;
						font-size: rem(18);

						&::before {
							margin-right: 0;
							vertical-align: middle;
						}
					}

					.filter-checkbox:checked + label::after {
						left: 50%;
						margin-left: rem(-7);
					}
				}
			}
		}
	}
}

@include breakpoint-up(lg) {
	.resources {
		.api-content {
			column-gap: rem(48);
			grid-template-columns: 1fr 1fr;
			row-gap: rem(48);

			.tile-item {
				height: 100%;

				.tile-resource {
					padding: 0 rem(16) rem(16) rem(16);
				}
			}
		}

		.filter {
			margin-bottom: rem(48);
			padding: rem(24) rem(40);

			.topic-choices {
				gap: rem(16);

				li {
					flex: 1 0 21%;
					text-align: center;

					svg {
						height: auto;
					}

					.topic-title {
						align-items: start;
						column-gap: 0;
						grid-template-columns: initial;
						height: 100%;
						padding: rem(16);
						row-gap: rem(16);

						svg {
							align-self: end;
						}
					}
				}
			}
		}
	}
}
