// Resources page
.resources {
	h1 {
		margin-bottom: 0;
	}

	.api-content {
		column-gap: 3rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 3rem;
	}

	.search-container {
		margin: rem(32) 0 0 0;

		input[type="search"] {
			border: none;
			box-shadow: 0 0 rem(7) $border-shadow-colour;
		}
	}

	.filter {
		background-color: $grey-lightest;
		border: none;
		border-radius: rem(9);
		box-shadow: 0 0 rem(7) $border-shadow-colour;
		padding: rem(24) rem(40);

		h2 {
			border-bottom: rem(1) solid $grey-mid-light;
			font-size: rem(25);
			font-weight: $font-weight-bold;
			margin: 0;
			padding: 0 0 rem(12) rem(4);
			text-transform: uppercase;
		}

		h3 {
			border-bottom: none;
			color: $grey-dark;
			font-size: rem(18);
			line-height: rem(40);
		}

		.filter-buttons {
			background-color: initial;
			border-top: none;
			margin-top: rem(24);

			button {
				background-color: $white;
				box-shadow: 0 0 rem(7) $border-shadow-colour;
			}
		}

		.filter-header {
			background-color: initial;
			border-bottom: rem(1) solid $grey-mid-light;
			margin: 0;

			button {
				margin-right: 0;
				padding: 0;
			}
		}

		.filter-expand-button {
			--expand-button-color: none;
			--expand-button-stroke-color: #{$grey-dark};

			svg {
				background-color: initial !important;

				.expand-svg {
					fill: none;
				}
			}

			&:focus,
			&:hover {
				--expand-button-color: #{$grey-dark};
				--expand-button-stroke-color: #{$grey-dark};
			}
		}

		.topic-choices {
			display: flex;
			flex-wrap: wrap;
			gap: rem(16);
			list-style: none;
			padding-left: 0;

			li {
				flex: 1 0 21%;
				text-align: center;

				svg {
					max-width: 100%;
					min-width: 5rem;
				}

				.topic-title {
					cursor: pointer;
				}
			}
		}
	}
}

.tile-item {
	height: 100%;
}
