// Resources page
.resources {
	.api-content {
		column-gap: 3rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 3rem;
	}

	.search-container {
		input[type="search"] {
			border: none;
			box-shadow: 0 0 rem(7) rgba(0, 0, 0, 0.25);
		}
	}
}

.tile-item {
	height: 100%;
}
