// Styles for the search container
.search-container {
	align-items: center;
	display: flex;

	svg {
		fill: white;
		height: rem(24);
		margin: rem(-29);
		width: rem(24);
		// make sure search svg is displayed on top of the search input box
		z-index: 1;
	}

	input[type="search"] {
		border: 0;
		border-radius: 50%;
		outline: none;
		padding: rem(8) rem(16);
		width: rem(16);

		&:focus {
			border-radius: rem(28);
			padding-left: rem(32);
			width: rem(160);
		}
	}
}

@media screen and (min-width: 1024px) {
	.search-container {
		svg {
			margin: rem(-40);
		}

		input[type="search"],
		input[type="search"]:focus {
			border-radius: rem(28);
			font-size: inherit;
			padding: rem(16) rem(56);
			width: rem(240);
		}
	}
}
