.tile-item {
	border-radius: rem(18);
	box-shadow: rem(0) rem(0) rem(7) rgba(0, 0, 0, 0.25);
	display: grid;
	margin: rem(32) 0 rem(32) 0;

	&:hover {
		box-shadow: 0 0 rem(35) rgba(0, 0, 0, 0.55);
	}

	// Initiative title and descriptions
	.tile-narrative,
	.tile-resource {
		border-radius: rem(18) rem(18) rem(18) rem(18);
		min-height: rem(208);
		padding: 0 rem(16) rem(16) rem(16);

		// Initiative titles
		h2 {
			border-bottom: rem(2) solid $grey-shade;
			padding-bottom: rem(16);
		}

		.author {
			color: $black;
			font-style: italic;
			font-weight: $font-weight-semibold;
		}

		.date {
			color: $grey-mid;
			font-style: italic;
			padding-bottom: rem(16);
		}

		.description {
			color: $black;
			font-weight: $font-weight-normal;
		}
	}

	.tile-resource {
		.h3 {
			border-bottom: none;
			color: $green-dark;
			padding-bottom: 0;
		}

		.info {
			color: $black;
			font-weight: $font-weight-normal;
			margin-top: rem(16);

			svg {
				height: rem(20);
				margin-right: rem(12);
				width: rem(20);
			}

			.resource-readability-list {
				display: inline;
				list-style: none;
				padding-left: 0;

				li {
					display: inline;
				}
			}

			.resource-tags-list {
				margin: rem(16) 0 0 0;
				padding-left: 0;

				li {
					background: $grey-light;
					border-radius: rem(32);
					display: inline-block;
					margin: 0 rem(12) rem(12) 0;
					padding: rem(4) rem(16);
				}
			}
		}
	}

	// Initiative images
	.tile-image {
		display: none;
	}
}

@include breakpoint-up(lg) {
	.tile-item {
		grid-template-columns: 70% 30%;
		grid-template-rows: 100%;

		.tile-narrative,
		.tile-resource {
			border-radius: rem(18) 0 0 rem(18);
			min-height: rem(336);
			padding: 0 rem(16) rem(16) rem(32);
		}

		// In order to apply border-radius, all inner elements need to have the same border-radius applied.
		// This includes the wrapper div.tile-image and inner img element.
		.tile-image {
			border-radius: 0 0 rem(18) rem(18);
			display: block;
			height: 100%;

			img,
			svg {
				border-radius: 0 rem(18) rem(18) 0;
				height: 100%;
				width: 100%;
			}
		}
	}

	.resources .tile-item {
		grid-template-columns: 1fr;
		margin: 0;
	}
}
