{% extends 'layouts/base.njk' %}

{% set pageTitle = pageItem.title %}
{% set pageExcerpt = content %}

{% block content %}
<article class="page">
    <h1>{{ title }}</h1>
    <div class="api-content">
        {{ content | safe }}
    </div>
</article>
{% endblock %}
{{ content | safe }}
