{% if title %}
{% set pageTitle = title %}
{% endif %}
<!doctype html>
	<html lang="en-ca">
	<head>
		{% include 'globals/meta.njk' %}
		<link rel="stylesheet" href="/css/main.css" />
		<script src="/js/main.js" defer></script>
		{% block headerScripts %}
		{% endblock %}
	</head>
	<body>
		<div id="defaultContainer">
			{% include 'components/header.njk' %}
			<div class="content-wrapper">
				<aside id="toc"></aside>
				<main>
				{% block content %}
				{% endblock %}
				</main>
			</div>
			{% include 'components/footer.njk' %}
		</div>
		{% block footerScripts %}
		{% endblock %}
	</body>
</html>
