{% if title %}
  {% set pageTitle = title %}
{% endif %}
<!doctype html>
<html lang="en-CA">
  <head>
    {% if env.context !== "dev" %}
    {% include 'globals/service-worker.njk' %}
    {% endif %}
    {% include 'globals/meta.njk' %}
    {% include "svg/filters.svg" %}
    <link rel="stylesheet" href="/assets/styles/main.css"/>
    <link rel="stylesheet" href="/assets/styles/lite-yt-embed.css"/>
    <script src="/assets/scripts/main.js" defer></script>
    <script src="/assets/scripts/lite-yt-embed.js"></script>
    <link rel="preload" href="/lib/infusion/dist/infusion-uio.js" as="script">

    <!-- CSS files for UI Options-->
    <link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/core/css/fluid.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/Enactors.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/PrefsEditor.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css"/>

    <!-- The Infusion Library for UI Options -->
    <script src="/lib/infusion/dist/infusion-uio.js"></script>
    {% block headerScripts %}{% endblock %}
  </head>
  <body>
    {% include 'globals/sprites.njk' %}
    <div id="defaultContainer">
      {% include 'components/header.njk' %}
      <div class="content-wrapper{% if page.url === "/" %} homepage-content-wrapper{% endif %}">
        <aside id="toc"></aside>
        <main>
          <nav class="flc-toc-tocContainer"></nav>
          {% block content %}{% endblock %}
        </main>
      </div>
      {% include 'components/footer.njk' %}
    </div>
    {% block footerScripts %}{% endblock %}
    {% if page.url === "/" %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
    <script src="/assets/scripts/uio.js" defer></script>
  </body>
</html>
