{% if previewMode %}
{% extends 'layouts/preview.njk' %}
{% else %}
{% extends 'layouts/base.njk' %}
{% endif %}

{% set pageTitle = page.title %}

{% block content %}
  <article class="event-page">
    <h1>{{ title | safe }}</h1>
    {% if coverImageUrl %}
    <img class="event-cover-image" src="{{ coverImageUrl | safe }}" alt="{{ coverImageAltText }}">
    {% endif %}

    <div class="description">{{ content | safe }}</div>
  </article>
{% endblock %}

{% block footerScripts %}
<script src="/assets/scripts/utils.js"></script>
{% endblock %}
