{% if previewMode %}
{% extends 'layouts/preview.njk' %}
{% else %}
{% extends 'layouts/base.njk' %}
{% endif %}

{% set pageTitle = title %}
{% set pageExcerpt = excerpt %}

{% block content %}
{% if page.url === "/" %}
<div>
  <article>
    <h1 class="title">{{ pageTitle }}</h1>
    <div class="api-content homepage-content">
    {{ content | safe }}
    </div>
  </article>
  <div class="homepage-cards">
    <div class="card blue">
      <h2>
        <a href="/resources/">
          Resource Library
        </a>
      </h2>
      <p>Search IDRC's library of AI and data analytics resources</p>
    </div>
    <div class="card green">
      <h2>
        <a href="/events/">
          Events
        </a>
      </h2>
      <p>Find out about IDRC events and how you can participate</p>
    </div>
     <div class="card azure">
      <h2>
        <a href="/initiatives/">
          Events
        </a>
      </h2>
      <p>Explore IDRC project activities</p>
    </div>
    <div class="card yellow">
      <h2>
        <a href="/rtdd/">
          Regulating the Digital / <span lang="fr">Réguler le numérique</span>
        </a>
      </h2>
      <p>Addressing digital exclusion / <span lang="fr">Lutter contre l’exclusion numérique</span></p>
    </div>
  </div>
</div>

{% elif page.url === "/events/" %}
<article class="page events">
  <h1 class="title">{{ pageTitle }}</h1>
  <div class="api-content">
    {{ content | safe }}
    <div class="events">
      {% for initiative in collections.events %}
        {% set tileURL = initiative.url %}
        {% set title = initiative.data.title %}
        {% set description = initiative.data.shortDescription %}
        {% set defaultPreviewImageUrl = "/assets/images/event.png" %}
        {% set previewImageUrl = initiative.data.previewImageUrl %}
        {% set previewImageAltText = initiative.data.previewImageAltText %}
        {% include "components/tile-item.njk" %}
      {% endfor %}
    </div>
  </div>
</article>

{% else %}
<article {% if locale and locale !== "en-CA" %}lang="{{ locale }}" {% endif %}class="page {{ title | slugify }}">
  <h1>{{ pageTitle }}</h1>
  <div class="api-content">
    {{ content | safe }}
  </div>
</article>
{% endif %}
{% endblock %}

{% block footerScripts %}
<script src="/assets/scripts/content-header-observer.js"></script>
<script>
  // Track all h1 and h2 in content for the About and Inclusion Challenges page.
document.querySelectorAll("main article.page h1, main article.page h2, header").forEach((section) => {
  const contentHeaderObserver = getSideMenuObserver();
  contentHeaderObserver.observe(section);
});
</script>

{% if page.url === "/advisory-panel/" %}
  <script src="/assets/scripts/expander.js"></script>
{% endif %}
{% if page.url === "/team/" %}
  <script src="/assets/scripts/team-handler.js"></script>
{% endif %}
{% endblock %}
