---
title: Resources
permalink: /resources/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
pagination:
  data: collections.resources
  size: 10
---
{% extends 'layouts/base.njk' %}

{% block content %}
   <article class="resources static-view">
    <h1>{{ title }}</h1>
    {{ content | safe }}

    <div class="api-content">
      {% for item in pagination.items %}
        {% set tileURL = item.url %}
        {% set title = item.data.title %}
        {% set source = item.data.source %}
        {% set mediaType = item.data.type %}
        {% set readabilityList = item.data.readability %}
        {% set focus = item.data.focus %}
        {% set tags = item.data.learnTags %}
        {# The following fields do not currently have a design associated with them #}
        {% set purpose = item.data.toolPurpose %}
        {% set issues = item.data.toolAccessibilityIssues %}
        {% set openSource = item.data.openSource %}
        {% set keywords = item.data.keywords %}
        {% set sharePointUrl = item.data.sharePointUrl %}
        {% set summary = item.data.summary %}
        {% include "components/tile-item-resource.njk" %}
      {% endfor %}
    </div>

    {% if pagination.pages.length > 1 %}
      {% include 'components/pagination.njk' %}
    {% endif %}
  </article>
{% endblock %}
