---
title: Resources
permalink: /resources/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
pagination:
  data: collections.resources
  size: 10
---
{% extends 'layouts/base.njk' %}

{% block content %}
  {# TODO: dedupe this declaration #}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="placeholder" viewBox="-4 -4 224 224">
      {% include 'svg/placeholder.svg' %}
    </symbol>
    <symbol id="arrowup" viewBox="0 0 39 23">
      {% include 'svg/arrowup.svg' %}
    </symbol>
    <symbol id="arrowdown" viewBox="0 0 39 24">
      {% include 'svg/arrowdown.svg' %}
    </symbol>
    <symbol id="apply" viewBox="0 0 26 26" fill="none">
      {% include 'svg/apply.svg' %}
    </symbol>
    <symbol id="reset" viewBox="0 0 26 26" fill="none">
      {% include 'svg/reset.svg' %}
    </symbol>
  </svg>

  <article class="resources static-view">
    <h1>{{ title }}</h1>
    {{ content | safe }}

    <form method="get" action="/resources/">
      {# TODO: review the language used for search instruction and labelling #}
      {% set placeholderForSearch = "Search resources..." %}
      {% set ariaLabelForSearch = "Enter keywords for a search in resources" %}
      {% include 'components/search-container.njk' %}

      {% set topicsFilterTitle = "Topics" %}
      {% set tagsFilterTitle = "Tags" %}
      {% set typeFilterTitle = "Media Type" %}
      {% set filterAction = "/resources/" %}
      {% include 'components/filter-resources.njk' %}
    </form>

    <div class="api-content">
      {% for item in pagination.items %}
        {% set tileURL = item.url %}
        {% set title = item.data.title %}
        {% set source = item.data.source %}
        {% set mediaType = item.data.type %}
        {% set readabilityList = item.data.readability %}
        {% set focus = item.data.focus %}
        {% set tags = item.data.learnTags %}
        {% set summary = item.data.summary %}
        {% include "components/tile-item-resource.njk" %}
      {% endfor %}
    </div>

    {% if pagination.pages.length > 1 %}
      {% include 'components/pagination.njk' %}
    {% endif %}
  </article>

  {# For displaying dynamic search and filtering results #}
  <article class="resources dynamic-view">
        <h1>{{ title }}</h1>
        {{ content | safe }}

    <form method="get" action="/resources/">
      {# TODO: add :value to the search-container template and use template here #}
      {# Search #}
      <div class="search-container">
        <svg><use xlink:href="#search" /></svg>
        <input type="search" name="s" :value="searchTerm" placeholder="Search resources..." aria-label="Enter keywords for a search in resources">
      </div>

      {# Resources filter #}
      <div class="filter">
        {# Topic selections #}
        <ul>
            <li v-for="category in resourceCategories">
              <input class="filter-checkbox" type="checkbox" v-model="category.checked" :id="category.categoryId" :name="'c_' + category.categoryId">
              <label :for="category.categoryId">{{ '{{ category.categoryLabel }}' }}</label>
            </li>
        </ul>

        <div class="filter-header">
          <h2 class="h3">Search Filters</h2>
          <button type="button" class="filter-expand-button" aria-expanded="true" aria-label="collapse">
            <svg class="arrowdown" aria-label="hidden"><use xlink:href="#arrowdown" /></svg>
            <svg class="arrowup" aria-label="hidden"><use xlink:href="#arrowup" /></svg>
          </button>
        </div>

        {# Tag selections #}
        <div class="filter-body">
          <ul class="filter-choices">
            <li v-for="tag in tags">
              <input class="filter-checkbox" type="checkbox" v-model="tag.checked" :id="tag.value" :name="'t_' + tag.value">
              <label :for="tag.value">{{ '{{ tag.label }}' }}</label>
            </li>
          </ul>
        </div>

        {# Media Type selections #}
        <div class="filter-body">
          <ul class="filter-choices">
            <li v-for="mediaType in resourceTypes">
              <input class="filter-checkbox" type="checkbox" v-model="mediaType.checked" :id="mediaType.value" :name="'m_' + mediaType.value">
              <label :for="mediaType.value">{{ '{{ mediaType.value }}' }}</label>
            </li>
          </ul>
        </div>

        <div class="filter-buttons">
          <button class="apply-button" type="submit">
            <svg><use xlink:href="#apply" /></svg><span>Apply Filters</span>
          </button>
          <button class="reset-button" type="button">
            <svg><use xlink:href="#reset" /></svg><span>Reset Filters</span>
          </button>
        </div>
      </div>
    </form>

    <h3 role="status" class="search-result" v-if="searchResult">{{ '{{ searchResult }}' }}</h3>

    <div class="applied-tags" v-if="selectedTags.length > 0">
      <h4 class="search-for-title">Applied Tags:</p>
      <div class="tags">
        <a v-for="tag in selectedTags" :href="'/tags/' + tag.value + '/'">{{ '{{ tag.name }}' }}</a>
      </div>
    </div>

    <div class="search-term-container" v-if="searchTerm">
      <h4 class="search-for-title">Search Term:</h4>
      <p class="search-term">“{{ '{{ searchTerm }}' }}”</p>
    </div>

    <div class="api-content" v-if="resultsToDisplay.length > 0">
      <a v-for="item in resultsToDisplay" :key="item.id" :href="item.url">
        <div class="tile-item">
          <div class="tile-resource">
            <h2 class="h3">{{ '{{ item.title }}' }}</h2>
            <div class="info">
              Media Type: {{ '{{ item.type }}' }}
            </div>

            <div class="info" v-if="item.readability">
              Readability:
              <ul class="resource-readability-list">
                <li v-for="(readabilityLevel, key, index) in item.readability">
                  {{ '{{ resourceReadabilityLevels[readabilityLevel] }}' }}

                  {# TODO: get this conditional comma working #}
                  {# <span v-if="index !== Object.keys(item.readability).length - 1">, </span> #}
                </li>
              </ul>
            </div>
            
            <div class="info">
              Focus: {{ '{{ item.focus }}' }}
            </div>

            <div class="info">
              Topic: {{ '{{ resourceCategories.filter(cat => cat.focuses.includes(item.focus))[0].categoryLabel }}' }}
            </div>

            <div class="info" v-if="item.learnTags">
              Tags:
              <ul class="resource-tags">
                <li v-for="(tag, key, index) in item.learnTags">
                  {{ '{{ tags.filter(singleTag => singleTag.value === tag)[0].label }}' }}
                </li>
              </ul>
            </div>

          </div>
        </div>
      </a>
    </div>

    {# TODO: The pagination layout below can go into a sharable vue template script
    when https://github.com/11ty/eleventy-plugin-vue is released #}
    <nav v-if="pagination" class="pagination" aria-label="pagination">
      <ul class="pagination-list">
        <li>
          <a v-if="pagination.href.previous" :href="pagination.href.previous" class="pagination-previous">
            <svg><use xlink:href="#previous" /></svg>
            <span class="screen-reader-only">previous</span>
          </a>
        </li>
        <li v-if="pagination.pageNumber > 1">
          <a :href="pagination.href.first" class="pagination-link">1</a>
        </li>
        <li v-if="pagination.pageNumber > 2" class="pagination-ellipsis">
          <span>&hellip;</span>
        </li>

        <li v-if="pagination.pageNumber > 0" v-bind:class="{'hide-on-mobile': pagination.hideProceedingPageButton}">
          <a :href="pagination.href.previous" class="pagination-link">
            {{ '{{ pagination.pageNumber }}' }}
          </a>
        </li>

        <li>
          <a :href="pagination.hrefs[pagination.pageNumber]" class="pagination-link is-current" aria-current="page">
            {{ '{{ pagination.pageNumber + 1 }}' }}
          </a>
        </li>

        <li v-if="pagination.pageNumber < pagination.pages.length - 2" v-bind:class="{'hide-on-mobile': pagination.hideFollowingPageButton}">
          <a :href="pagination.hrefs[pagination.pageNumber + 1]" class="pagination-link">
            {{ '{{ pagination.pageNumber + 2 }}' }}
          </a>
        </li>

        <li v-if="pagination.pageNumber < pagination.pages.length - 3" class="pagination-ellipsis">
          <span>&hellip;</span>
        </li>
        <li v-if="pagination.pageNumber < pagination.pages.length - 1">
          <a :href="pagination.href.last" class="pagination-link">
            {{ '{{ pagination.pages.length }}' }}
          </a>
        </li>
        <li>
          <a v-if="pagination.href.next" :href="pagination.href.next" class="pagination-next">
            <svg><use xlink:href="#next" /></svg>
            <span class="screen-reader-only">next</span>
          </a>
        </li>
      </ul>
    </nav>
  </article>
{% endblock %}

{% block headerScripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
{% endblock %}

{% block footerScripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/content-header-observer.js"></script>
<script src="/js/resources-dynamic-handler.js"></script>
{% endblock %}
