{% if previewMode %}
{% extends 'layouts/preview.njk' %}
{% else %}
{% extends 'layouts/base.njk' %}
{% endif %}

{% set pageTitle = title %}
{% set pageExcerpt = excerpt %}
{% set pagination = collections.views | paginate(page) %}

{% block content %}
<article class="post-article">
  <h1>{{ title | safe }}</h1>
  <div class="author">By {{ author }}</div>
  <time class="date" datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  <div class="api-content">{{ content | safe }}</div>


  {% if tags.length > 0 %}
  <section class="tags-info">
    <h2 class="h3">Tags</h2>
    <div class="tags">
    {% for tag in tags %}
    <a href="/tags/{{ tag | slugify }}/">{{ tag | safe }}</a>
    {% endfor %}
    </div>
  </section>
  {% endif %}

  {% if pagination.pages.length > 1 %}
  {% include 'components/pagination.njk' %}
  {% endif %}
</article>
{% endblock %}

{% block footerScripts %}
<script src="/assets/scripts/content-header-observer.js"></script>
<script>
  // Track all h1 and h2 in content for the Views post page.
document.querySelectorAll("main article.post-article h1, main article.post-article h2, header").forEach((section) => {
  const contentHeaderObserver = getSideMenuObserver();
  contentHeaderObserver.observe(section);
});
</script>
{% endblock %}
