---
pagination:
    data: collections.wpNews
    size: 1
    alias: newsItem
permalink: "wp-news/{{ newsItem.title | slug }}.md"
---
---
title: "{{ newsItem.title | safe }}"
date: {{ newsItem.dateTime }}
link: {{ newsItem.href }}
{%- if newsItem.picture %}
picture: {{ newsItem.picture }}
{%- endif %}
{%- if newsItem.altText %}
altText: |-
  {{ newsItem.altText }}
{%- endif %}
{%- if newsItem.excerpt %}
excerpt: |-
  {{ newsItem.excerpt | turndownFilter | safe }}
{%- endif %}
{%- if newsItem.tags %}
tags:
{%- for tag in newsItem.tags %}
  - {{ tag.name }}
{%- endfor %}
{%- endif %}
---
