---
pagination:
    data: collections.wpPublicPages
    size: 1
    alias: pageItem
permalink: "pages/{{ pageItem.slug }}.md"
---
---
title: "{{ pageItem.title }}"
permalink: {{ pageItem.href }}
slug: {{ pageItem.slug }}
{% if pageItem.excerpt -%}
excerpt: -|
  {{ pageItem.excerpt | turndownFilter | safe }}
{%- endif %}
menu_order: {{ pageItem.menu_order }}
---
{{ pageItem.content | turndownFilter | safe }}
