---
test:
pagination:
    data: collections.airtableResources
    size: 1
    alias: resource
permalink: "airtable-resources/{{
    resource.title | lower | replace(' ', '-') | replace('/', '') |
    replace('\\'', '') | replace('’', '') | replace('&', '') | replace(',', '') |
    replace('.', '') | replace(':', '') | replace('(', '') | replace(')', '') }}.md"
---
---
title: {{ resource.title | dump | safe }}
focus: {{ resource.focus | dump | safe }}
source: {{ resource.source | dump | safe }}
{% if resource.readability -%}
readability: {{ resource.readability | dump | safe }}
{% endif -%}
type: {{ resource.type | dump | safe }}
openSource: {{ resource.openSource }}
{% if resource.sharePointUrl -%}
sharePointUrl: {{ resource.sharePointUrl | dump | safe }}
{% endif -%}
{% if resource.link -%}
link: {{ resource.link | dump | safe }}
{% endif -%}
learnTags: {{ resource.learnTags | dump | safe }}
summary: {{ resource.summary | dump | safe }}
keywords: {{ resource.keywords | dump | safe }}
{% if resource.jurisdiction -%}
jurisdiction: {{ resource.jurisdiction | dump | safe }}
{% endif -%}
---
