---
pagination:
  data: collections.wpViews
  size: 1
  alias: viewsItem
permalink: "wp-views/{{ viewsItem.title | slug }}.md"
---
---
title: "{{ viewsItem.title | safe }}"
date: {{ viewsItem.dateTime }}
author: {{ viewsItem.author }}
{%- if viewsItem.picture %}
picture: {{ viewsItem.picture }}
{%- endif %}
{%- if viewsItem.altTag %}
altTag: |-
  {{ viewsItem.altTag }}
{%- endif %}
{%- if viewsItem.excerpt %}
excerpt: |-
  {{ viewsItem.excerpt | turndownFilter | safe }}
{%- endif %}
{%- if viewsItem.tags %}
tags:
{%- for tag in viewsItem.tags %}
  - {{ tag.name }}
{%- endfor %}
{%- endif %}
---
{{ viewsItem.content | turndownFilter | safe }}
