// Functions.

@function rem($pixels, $context: $browser-context) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

@function breakpoint-value($name, $breakpoints: $breakpoints) {
	@return map-get($breakpoints, $name);
}
