// Mixins.
@mixin adapt-to-highContrast($fColor, $bColor) {
	// social media icons
	footer .footer-content .social-media .social-media-icons a {
		svg path {
			fill: $bColor;
			stroke: $fColor;
		}

		&:hover,
		&:focus {
			svg path {
				fill: $fColor;
				stroke: $bColor;
			}
		}
	}
}
