// Mixins.

// Maintain aspect ration of a container
@mixin aspect-ratio($width, $height) {
	position: relative;

	&::before {
		content: " ";
		display: block;
		padding-top: ($height / $width) * 100%;
		width: 100%;
	}

	> .content {
		bottom: 0;
		left: 0;
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	&:empty::before {
		padding-top: 0;
	}
}

// To adapt to UIO contrast themes
@mixin adapt-to-uioThemes($fColor, $bColor) {
	// Customized colors
	--currentColor: currentColor;
	--bColor: #{$bColor};
	--fColor: #{$fColor};

	// WeCount logo
	.logo circle,
	.logo path {
		fill: none;
		stroke: var(--fColor, currentColor);
		stroke-linecap: round;
		stroke-width: rem(3);
	}

	// Placeholder images on the "views" page
	svg.placeholder-img use {
		stroke: var(--fColor, currentColor);
		stroke-linecap: round;
		stroke-width: rem(3);
	}

	// "Expand filter" button
	.filter-expand-button {
		--expand-button-color: #{$bColor};
		--expand-button-stroke-color: #{$fColor};

		background-color: #{$bColor} !important;

		svg {
			background-color: #{$bColor} !important;
		}

		&:focus,
		&:hover {
			--expand-button-color: currentColor;
		}
	}

	// Tags
	.tags {
		a,
		p {
			box-shadow: 0 0 0 rem(1) currentColor inset;

			&:focus,
			&:hover {
				box-shadow: 0 0 0 rem(2) currentColor inset;
			}
		}
	}

	// Focus/hover styles for SVGs on the footer
	footer .footer-content {
		// Logos on the footer
		.funders a,
		.footer-logos a {
			padding: rem(5);
		}

		// Social media icons
		.social-media .social-media-icons a {
			svg path {
				fill: currentColor;
				stroke: $bColor;
			}

			&:hover,
			&:focus {
				svg path {
					fill: $bColor;
					stroke: currentColor;
				}
			}
		}
	}

	// Side Menu
	#defaultContainer aside nav ul {
		box-shadow: rem(1) 0 0 0 currentColor inset;

		li {
			box-shadow: rem(1) 0 0 0 currentColor inset;

			&:active {
				box-shadow: rem(5) 0 0 0 currentColor inset;
			}
		}

		li.active {
			box-shadow: rem(5) 0 0 0 currentColor inset;
		}
	}

	// Styles for buttons
	.wp-block-file__button {
		box-shadow: 0 0 0 rem(1) currentColor inset;
	}

	// Focus/hover styles for links
	#defaultContainer a:focus,
	#defaultContainer a:hover,
	#defaultContainer header .site-nav-wrapper .site-nav nav a:focus,
	#defaultContainer header .site-nav-wrapper .site-nav nav a:hover,
	.search-container input,
	.card:focus,
	.card:hover,
	button:not(.filter-expand-button):focus,
	button:not(.filter-expand-button):hover,
	li .pagination-link,
	li .pagination-link::before,
	.wp-block-file__button:focus,
	.wp-block-file__button:hover {
		box-shadow: 0 0 0 rem(2) currentColor inset;
	}

	#defaultContainer {
		// UIO buttons
		.fl-prefsEditor-buttons button {
			padding-left: rem(3);
			padding-right: rem(3);
		}

		// Pagination on the contrast theme: previous, next, current page
		.content-wrapper main .pagination .pagination-list {
			.pagination-next,
			.pagination-previous,
			li a[aria-current="page"]::before {
				box-shadow: none;
			}
		}

		.content-wrapper main .pagination .pagination-list li a[aria-current="page"] {
			background-color: $fColor !important; // Enactors.css in infusion uses !important on this element
			box-shadow: none;
			color: $bColor !important; // Enactors.css in infusion uses !important on this element
			&:hover,
			&:focus {
				box-shadow:
					0 0 0 rem(4) $bColor,
					0 0 0 rem(6) $fColor;
			}
		}

		// Home page cards: hide background images on UIO contrast themes
		.blue,
		.green,
		.yellow {
			background-image: none;
		}
	}

	// The search container on the "Views" page
	.views .search-container {
		svg {
			fill: currentColor;
		}

		input[type="search"] {
			border: none;
		}

		::placeholder {
			color: $fColor;
		}
	}

	// The search icon on the header
	header .site-nav-wrapper .site-nav .search-container svg {
		fill: currentColor;
		height: rem(19.2);
		margin: rem(-25.6);
		width: rem(19.2);
	}

	// Hide ellipsis when a post excerpt is fully displayed
	.news-grid .api-content .news-item .preview-content::after {
		background: $bColor;
	}

	// UIO table of content
	.flc-toc-tocContainer ul li::before {
		color: $fColor;
	}

	// The filter checkboxes
	.filter-checkbox {
		// Box.
		& + label::before {
			border: 1px solid $fColor;
		}

		// Checkmark
		&:checked + label::after {
			background: $fColor;
			box-shadow:
				2px 0 0 $fColor,
				4px 0 0 $fColor,
				4px -2px 0 $fColor,
				4px -4px 0 $fColor,
				4px -6px 0 $fColor,
				4px -8px 0 $fColor;
		}
	}

	@media screen and (min-width: rem(1024)) {
		// Adjust the position of the search icon on the header
		header .site-nav-wrapper .site-nav .search-container svg {
			height: rem(24);
			margin: rem(-40);
			width: rem(24);
		}
	}
}
