$browser-context: 16;

/** Typography **/
$family-sans-serif: "Fira Sans", sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/** Max Widths **/
$max-width-margins: rem(1600);

/** Colors **/

// Primary
$white: #fff;
$blue-dark: #6895c6;
$blue: #84bcde;
$blue-light: #acdde9;
$gold-dark: #fcb33e;
$gold: #fdcc70;
$gold-light: #ffe6a7;

// Secondary
$black: #000;
$grey-lighter: #f3f3f3;
$grey-light: #6c6c6c;
$grey-dark: #313131;
$navy-dark: #162439;
$navy: #203149;
$navy-light: #2e405b;

$blue-alt: #5c81a9;
$blue-alt-contrast: #5879a0;
$blue-alt-dark: #4d6b8d;
$blue-alt-light: #8caabb;
$green: #b0d0be;
$green-light: #cee6c5;
$green-dark: #465d8b;
$green-pale: #f7fff4;

$orange-focus: #fadc90;
$orange-light: #5c81a9;

// UIO themes
$UIOThemes:
	"bw" #000 #fff,
	"wb" #fff #000,
	"yb" #ff0 #000,
	"by" #000 #ff0,
	"lgdg" #bdbdbb #555,
	"gd" #888 #222,
	"gw" #6c6c6c #fff,
	"bbr" #000 #b96;

// Responsive Breakpoints, shamelessy cribbed from Bootstrap.
// @see https://github.com/twbs/bootstrap/blob/master/scss/mixins/_breakpoints.scss

$breakpoints: (
	xs: 280,       // Galaxy Fold portrait size
	sm: 640,       // UIO breakpoint
	md: 768,       // Ipad Portrait size
	lg: 1024,      // Ipad Landscape size
	xl: 1366       // Ipad Pro Landscape size
);
