/* webpage styling */

/* Global Styling */
html *
{
   font-family: Fira Sans ;
}
h1 {
	font-size: 4em ;
	font-weight: semi-bold ;
}
h2 {
	font-size: 3em ;
	font-weight: medium ;
}
h3 {
	font-size: 1.5em ;
	font-weight: bold ;
}
p {
	font-size: 1em ;
	font-weight: regular ;
}
.container {
	width: 80%;
}
.title {
	margin-top: 6rem;
}

/* Palette */

/* Primary */
.bg-blue1 {
	background-color: #84bcde;
}
.bg-blue2 {
	background-color: #acdde9;
}
.bg-blue3 {
	background-color: #6895c6;
}
.bg-yellow1 {
	background-color: #fdcc70;
}
.bg-yellow2 {
	background-color: #ffe6a7;
}
.bg-yellow3 {
	background-color: #fcb33e;
}

/* Secondary */
.bg-black {
	background-color: #313131;
}
.bg-navy1 {
	background-color: #2e405b;
}
.bg-navy2 {
	background-color: #5e82ae;
}
.bg-navy3 {
	background-color: #8caabb;
}
.bg-green1 {
	background-color: #b0d0be;
}
.bg-green2 {
	background-color: #cee6c5;
}
.bg-green3 {
	background-color: #f7fff4;
}

/* Buttons and Links */
.is-button {
	border: #8caabb solid 1px;
	background-color: #cee6c5;
	border-radius: 25px;
	color: #313131;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
  }
  .is-button:before {
	border-radius: 25px;
	pointer-events: none;
	content: '';
	position: absolute;
	border: #8caabb solid 1px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0;
	-webkit-transition-duration: 0.03s;
	transition-duration: 0.03s;
	-webkit-transition-property: top, right, bottom, left;
	transition-property: top, right, bottom, left;
  }
  .is-button:hover:before, .is-button:focus:before, .is-button:active:before {
	top: 3px;
	right: -3px;
	bottom: -3px;
	left: 0px;
	opacity: 1;
  }

.is-link {
	color: #6895c6;
	font-weight: bold;
}

.is-link:hover {
	color: #6895c6;
	background-color: #ffe6a7;
	font-weight: bold;
	text-decoration: none;
}

/* Content */
.content {
	width: 50%;
	margin-top: 4rem;
	margin-bottom: 6rem;
}
.content /deep/ a {
	color: #6895c6;
	font-weight: bold;
}
.content /deep/ a:hover {
	color: #6895c6;
	background-color: #ffe6a7;
	font-weight: bold;
	text-decoration: none;
}
.content /deep/ html *
{
   font-family: Fira Sans ;
}
.content /deep/ h1 {
	font-size: 4em ;
	font-weight: semi-bold ;
}
.content /deep/ h2 {
	font-size: 3em ;
	font-weight: medium ;
}
.content /deep/ h3 {
	font-size: 1.5em ;
	font-weight: bold ;
}
.content /deep/ p {
	font-size: 1em ;
	font-weight: regular ;
}

/* API Posts */
.posts {
	width: 50%;
	margin-top: 4rem;
	margin-bottom: 6rem;
}

.posts /deep/ h2 {
	color: #313131;
	font-size: 3em ;
	font-weight: medium ;
}
.posts /deep/ h2:hover {
	color: #5e82ae;
}

.posts /deep/ .meta-text {
	color: #313131;
	font-weight: medium ;
}
.posts /deep/ .meta-text:hover {
	color: #5e82ae;
}

.posts /deep/ a {
	text-decoration: none;
}
