.logo {
    width: calc(200 / 16 * 1rem);
}

[class^="fl-theme"] .logo path,
[class^="fl-theme"] .logo circle,
[class^="gpii-ext-theme"] .logo path,
[class^="gpii-ext-theme"] .logo circle {
    fill: none;
    stroke: var(--logo-stroke, currentColor);
    stroke-linecap: round;
    stroke-width: 0.1875rem;
}

.fl-theme-bbr,
.gpii-ext-theme-bbr {
    --logo-stroke: #{$black};
}

.fl-theme-gw,
.gpii-ext-theme-gw,
.fl-theme-gd,
.gpii-ext-theme-gd {
    --logo-stroke: #{$grey};
}
