.homepage-cards {
  display: grid;
  grid-gap: rem(20);
  grid-template-columns: repeat(1, 1fr);

  svg {
    width: 100%;
  }

  .card {
    // background-repeat: no-repeat;
    border: 1px solid #000;
    // box-sizing: border-box;
    // display: block;
    // height: rem(213);
    // margin: 0 auto;
    // max-height: 100%;
    // max-width: 100%;

    h3 {
      color: $navy-light;
      // font-size: rem(24);
      font-weight: $font-weight-medium;
      line-height: rem(29);
      margin: rem(9) rem(16);
      position: absolute;
      z-index: 1;
    }
  }
}

@media screen and (min-width: 1024px) {
  .homepage-cards {
    grid-gap: rem(38);
    grid-template-columns: repeat(3, 1fr);
  }
}
