.homepage-cards {
  display: grid;
  grid-gap: rem(20);
  grid-template-columns: repeat(1, 1fr);

  svg {
    width: 100%;
  }

  a {
    border: 1px solid #000; //This is hear to see the space the svg should be taking up
    height: rem(213);

    h3 {
      color: $navy-light;
      font-weight: $font-weight-medium;
      line-height: rem(35);
      margin: rem(9) rem(16);
      position: absolute;
      z-index: 2;
    }

    .green-title { // Unable to position center card correctly
      float: right;
      position: relative;
    }
  }
}

@media screen and (min-width: 1024px) {
  .homepage-cards {
    grid-gap: rem(38);
    grid-template-columns: repeat(3, 1fr);
  }
}
