figure {
  height: rem(298px);
}

/* resize images */
.news-item-img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.news-item {
  padding: rem(8) rem(34);
}

.news-grid {
  display: grid;
  grid-gap: rem(30px) rem(38px);
  grid-template-columns: repeat(1, 1fr);

  .api-content {
    background: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 600px) {
  figure {
    height: rem(252px);
  }

  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
