.pagination {
  display: block;
  list-style: none;
  margin-top: rem(10);
  padding: 0;
  text-align: center;

  .pagination-list {
    display: flex;
    margin: auto;
  }

  .previous,
  .next {
    height: rem(65);
  }

  .previous {
    margin-right: rem(6);
  }

  .next {
    margin-left: rem(6);
  }

  .pagination-link {
    background-color: $green-light;
    border: rem(2) solid $blue-alt-light;
    border-radius: 100%;
    float: left;
    font-size: rem(15);
    font-weight: 400;
    height: rem(45);
    line-height: rem(40);
    margin: rem(10) rem(2);
    width: rem(45);
    &:active { outline: none; }

    &:hover {
      background-color: $green-pale;
    }
  }

  .pagination-ellipsis {
    background-color: $white;
    border: none;
    color: $blue-alt;

    &:hover {
      background-color: $white;
    }
  }

  li {
    a.is-current {
      background-color: $green-pale;
      border: rem(2) solid $navy-alt; // no color variable available
    }
  }

  li.hide-on-mobile {
    display: none;
  }

  li:first-child,
  li:last-child {
    flex: 1;
  }

  li:first-child {
    text-align: left;
  }

  li:last-child {
    text-align: right;
  }

  .pagination-next:hover,
  .pagination-previous:hover {
    background-color: transparent;
  }
}

@media screen and (min-width: 1024px) {
  .pagination {
    .previous,
    .next {
      margin: 0 rem(20);
    }

    li.hide-on-mobile {
      display: block;
    }

    .pagination-list {
      width: rem(800);
    }

    .pagination-link {
      font-size: rem(24);
      height: rem(53);
      line-height: rem(50);
      margin: 0 rem(13);
      width: rem(53);
    }
  }
}
