// Header styles

header {
	.site-nav {
		box-shadow: 0 0 rem(20) 0 rgb(0 0 0 / 10%);
		position: relative;

		&::after {
			background: linear-gradient($white, rgb(0 0 0 / 5%));
			block-size: 15px;
			content: "";
			display: block;
			inline-size: 100vw;
			left: 0;
			position: absolute;
			top: rem(130);
		}
	}

	.site-nav-inner {
		align-items: center;
		background: $white;
		display: grid;
		gap: rem(18);
		grid-template-columns: rem(72) 1fr;
		grid-template-rows: rem(130) rem(95);
		inline-size: calc(100vw - rem(36));
		margin-inline: auto;

		.header-join {
			block-size: max-content;
			border-radius: rem(36);
			box-shadow: inset 0 0 0 rem(1) $black;
			color: $black;
			font-family: $family-montserrat;
			font-size: rem(14);
			font-weight: $font-weight-medium;
			inline-size: max-content;
			justify-self: end;
			padding-block: rem(18);
			padding-inline: rem(33);
			text-align: center;
			white-space: nowrap;
		}

		.header-join:focus {
			box-shadow: inset 0 0 0 rem(2) $black;
		}

		// Menu Button
		[aria-expanded] {
			align-items: center;
			background: none;
			block-size: rem(90);
			border: unset;
			border-radius: unset;
			box-shadow: none;
			color: $black;
			display: flex;
			flex-direction: column;
			inline-size: rem(52);
			justify-self: center;
			padding: rem(8);

			.menu-open {
				block-size: auto;
				inline-size: rem(42);
			}

			.menu-close {
				block-size: auto;
				inline-size: rem(34);
			}

			.label {
				font-family: $family-montserrat;
				font-size: rem(14);
				font-weight: $font-weight-semibold;
				letter-spacing: 0.15em;
			}
		}

		[aria-expanded]::before {
			content: none;
		}

		[aria-expanded]:hover,
		[aria-expanded]:focus {
			background-color: $orange-focus;
		}

		[aria-expanded="false"] {
			.menu-close {
				display: none;
			}

			.menu-open {
				display: block;
			}
		}

		[aria-expanded="true"] {
			.menu-close {
				display: block;
			}

			.menu-open {
				display: none;
			}
		}

		&:has([aria-expanded="false"]) + .primary-nav {
			display: none;
		}

		&:has([aria-expanded="true"]) + .primary-nav {
			display: flex;
		}

		.search-form {
			padding-inline: 0;
		}
	}

	.primary-nav .search-container {
		display: none;
	}

	// Styles for the search container
	.search-container {
		button {
			fill: $white;
			right: rem(4);
			top: rem(4);
		}

		input[type="search"] {
			block-size: rem(52);
			border-radius: rem(26);
			box-shadow: 0 0 0 rem(1) #000 inset;
			font-family: $family-montserrat;
			font-size: rem(16);
			font-weight: $font-weight-semibold;
			inline-size: 100%;
			outline: none;
			padding-inline-start: rem(12);
		}

		input[type="search"]:focus {
			box-shadow: 0 0 0 rem(2) #000 inset;
		}

		/* remove the ‘X’ from Internet Explorer */
		input[type="search"]::-ms-clear,
		input[type="search"]::-ms-reveal {
			block-size: 0;
			display: none;
			inline-size: 0;
		}

		/* remove the ‘X’ from Chrome */
		input[type="search"]::-webkit-search-decoration,
		input[type="search"]::-webkit-search-cancel-button,
		input[type="search"]::-webkit-search-results-button,
		input[type="search"]::-webkit-search-results-decoration {
			display: none;
		}
	}

	// Styles for the navigation menu
	.primary-nav {
		background: rgb(247 236 207 / 100%);
		display: flex;
		flex-direction: column;
		inline-size: 100vw;
		padding-block: rem(36);

		nav {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-inline: rem(36);
		}

		a {
			color: $black;
			font-family: "Montserrat Alternates", Montserrat, $family-sans-serif;
			font-size: rem(14) !important; // Enactors.css in infusion uses !important on this element
			font-weight: $font-weight-medium;
			inline-size: 100%;
			line-height: rem(28);
			text-transform: capitalize;
		}

		div > a {
			display: block;
		}

		a[aria-current="page"] {
			background-color: $orange-focus;
			font-weight: $font-weight-bold;
			text-decoration: underline;
		}
	}
}

@include breakpoint-up(md) {
	header .site-nav::after {
		display: none;
	}

	header .site-nav-inner {
		block-size: rem(150);
		display: flex;
		inline-size: 100%;
		justify-content: space-between;
		margin-inline: auto;
		max-inline-size: rem(1265);
	}

	header .site-nav-inner .header-join {
		font-size: rem(24);
	}

	header .site-nav-inner .search-form {
		display: none;
	}

	header input[type="search"] {
		font-size: rem(24);
	}

	header .nav-container {
		flex-direction: row;
		padding-block: rem(30);

		form {
			display: none;
		}
	}

	header .site-nav-inner [aria-expanded] {
		align-items: center;
		block-size: rem(89);
		border: 1px solid $black;
		border-radius: 50%;
		display: flex;
		inline-size: rem(89);
		justify-content: center;
	}

	header .site-nav-inner [aria-expanded] span {
		bottom: rem(-24);
		position: absolute;
	}

	header .site-nav-inner [aria-expanded] .menu-open {
		block-size: rem(42);
		inline-size: rem(42);
		position: relative;
	}

	header .primary-nav {
		nav {
			margin-block-end: rem(28);
		}

		a {
			font-size: rem(32) !important; // Enactors.css in infusion uses !important on this element
			line-height: rem(64);
		}

		div > a + a::before {
			content: "/";
			display: inline;
			padding-inline: 1ch;
		}

		.search-container {
			display: unset;
		}
	}
}
