// Header styles

header {
	.nav-mobile-layout-wrapped {
		display: contents;
	}

	.header-recount {
		background-color: #fbdc90;
		border-radius: rem(36);
		color: #1a4672;
		font-family: "Montserrat Alternates", Montserrat, $family-sans-serif;
		font-size: rem(24);
		padding-block: rem(18);
		padding-inline: rem(33);
		text-align: center;
		white-space: nowrap;
	}

	form {
		padding-inline: 6.5rem;
	}

	// Styles for the search container
	.search-container {
		svg {
			block-size: rem(40);
			fill: $white;
			inline-size: rem(40);
			right: rem(30);
			top: rem(18);
			z-index: 1;
		}

		input[type="search"] {
			block-size: rem(71);
			border-radius: rem(35.5);
			box-shadow: $border-shadow-light;
			font-size: rem(24);
			font-weight: $font-weight-semibold;
			inline-size: 100%;
			outline: none;
			padding-inline-start: rem(32);
		}

		/* remove the ‘X’ from Internet Explorer */
		input[type="search"]::-ms-clear,
		input[type="search"]::-ms-reveal {
			block-size: 0;
			display: none;
			inline-size: 0;
		}

		/* remove the ‘X’ from Chrome */
		input[type="search"]::-webkit-search-decoration,
		input[type="search"]::-webkit-search-cancel-button,
		input[type="search"]::-webkit-search-results-button,
		input[type="search"]::-webkit-search-results-decoration {
			display: none;
		}
	}

	.site-nav-wrapper {
		background-color: $white;
		inline-size: 100%;

		.site-nav {
			.nav-container {
				align-items: center;
				border-block-end: rem(3) rgb(0 0 0 / 10%) outset;
				border-block-start: rem(3) rgb(0 0 0 / 10%) outset;
				display: flex;
				justify-content: space-between;
				padding-block: rem(30);
				padding-inline: rem(96);

				form {
					display: none;
				}
			}

			.starter-nav {
				align-items: center;
				display: flex;
				flex-direction: column;
				inline-size: rem(90);
				justify-content: end;
				padding-block: 0;

				// Toggle menu button on mobile design
				// Override the default button styles from _base.scss and apply the new style
				button {
					background: none;
					block-size: rem(90);
					border: rem(1) solid;
					border-radius: 50%;
					box-shadow: none;
					color: $black;
					inline-size: rem(90);
					padding: rem(24);

					svg {
						block-size: rem(42);
						inline-size: rem(42);
						pointer-events: none;
					}
				}

				button::before {
					content: none;
				}

				button:hover,
				button:focus {
					background-color: $orange-focus;
				}

				#menuToggleButton .screen-reader-only {
					display: none;
				}

				#menuToggleButton {
					&[aria-expanded="false"] {
						.menu-close {
							display: none;
						}

						.menu-open {
							display: block;
						}
					}

					&[aria-expanded="true"] {
						.menu-close {
							display: block;
						}

						.menu-open {
							display: none;
						}
					}
				}

				#navigation-menu {
					text-align: center;
				}
			}

			// To make room for the box-shadow on nav container
			.content-wrapper {
				margin-block-start: 4px;
			}

			// Styles for the navigation menu
			.primary-nav {
				background: rgb(247 236 207 / 100%);
				display: flex;
				flex-direction: column;
				inline-size: 100vw;
				padding-block: rem(36);

				nav {
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-block-end: rem(28);
					padding-inline: 6.5rem;
				}

				a {
					color: $black;
					font-family: "Montserrat Alternates", Montserrat, $family-sans-serif;
					font-size: rem(32) !important; // Enactors.css in infusion uses !important on this element
					font-weight: $font-weight-medium;
					inline-size: 100%;
					line-height: rem(64);
					text-transform: capitalize;
				}

				div > a + a::before {
					content: "/";
					display: inline;
					padding-inline: 1ch;
				}

				a[aria-current="page"] {
					background-color: $orange-focus;
					font-weight: $font-weight-bold;
					text-decoration: underline;
				}
			}
		}
	}
}

// This media query breakpoint is for the Galaxy Fold screen.

@include breakpoint-down(md) {
	header {
		.nav-mobile-layout-wrapped {
			align-items: center;
			display: flex;
			inline-size: 100vw;
			justify-content: space-between;
			padding-block: rem(40);

			.brand,
			.starter-nav {
				margin-inline-start: rem(96);
			}

			.header-recount,
			.search-container {
				margin-inline-end: rem(96);
			}

			&:first-child {
				padding-block: rem(40);
			}

			&:last-child {
				border-block-start: rem(3) rgb(0 0 0 / 10%) outset;
				padding-block: rem(10);
			}
		}

		.header-recount {
			block-size: max-content;
			font-size: rem(14);
		}

		.search-container {
			input[type="search"] {
				font-size: rem(16);
				font-weight: $font-weight-semibold;
			}
		}

		.site-nav form {
			display: none;
		}

		.site-nav-wrapper {
			.site-nav {
				.nav-container {
					display: flex;
					flex-direction: column;
					padding-block: unset;

					form {
						display: block;
						padding-inline: unset;
					}
				}

				.starter-nav {
					justify-content: unset;

					button {
						border: unset;
						border-radius: unset;
						padding: rem(8);

						svg {
							block-size: rem(74);
							inline-size: rem(74);
						}
					}

					#navigation-menu {
						font-size: rem(14);
						font-weight: $font-weight-semibold;
					}
				}

				.primary-nav {
					nav {
						margin-block-end: unset;
					}

					a {
						font-size: rem(14) !important; // Enactors.css in infusion uses !important on this element
						line-height: rem(28);
					}

					div > a {
						display: block;
					}

					div > a + a::before {
						display: none;
					}
				}
			}
		}
	}
}

@include breakpoint-down(xs) {
	header .site-nav-wrapper .site-nav .starter-nav #menuToggleButton {
		span {
			display: none;
		}

		.screen-reader-only {
			display: inline;
		}
	}
}
