// Layout styles.
@import "header";
@import "footer";

// Sticky footer. See https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
#defaultContainer {
	display: flex;
	flex-direction: column;
	min-block-size: 100vh;
}

.content-wrapper {
	background-color: rgb(244 248 252 / 100%);
	flex: 1;
	font-size: rem(14);
	padding-inline: rem(96);
}

main {
	inline-size: 100%;
	margin-block: 0;
	margin-inline: auto;
}

article {
	h2:not(.h3) {
		border-block-end: rem(5) solid $gold;
	}

	.api-content {
		display: block;

		&::after {
			clear: both;
			content: "";
			display: table;
		}
	}
}

// style for centering children of some buttons (#939)
%has-vertically-centered-children {
	align-items: center;
	display: flex;
}

// WP customized styles
.has-small-font-size {
	font-size: 84%;
}

.has-large-font-size {
	font-size: 126%;
}

.has-larger-font-size {
	font-size: 168%;
}

// WP styles for vertically aligning text within Media & Text blocks
.image-and-text--vertical-top {
	figure,
	.image-and-text__content {
		align-self: start;

		& > * {
			margin-block: 0;
		}
	}
}

.image-and-text--vertical-center {
	figure,
	.image-and-text__content {
		align-self: center;

		& > * {
			margin-block: 0;
		}
	}
}

.image-and-text--vertical-bottom {
	figure,
	.image-and-text__content {
		align-self: end;

		& > * {
			margin-block: 0;
		}
	}
}

// WP styles for horizontally aligning text within Media & Text blocks
.has-text-align-left {
	text-align: start;
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-right {
	text-align: end;
}

figure {
	display: table;
	margin-inline: auto;
}

p img {
	block-size: auto;
	max-inline-size: 100%;
}

// Base styling for media and text block
.image-and-text {
	display: grid;
	margin-block: 1em;

	.image-and-text__content {
		margin-inline-start: rem(25);
	}

	img {
		block-size: auto;
		inline-size: 100%;
	}
}

// Styling for media and text block with media on the left
.image-and-text--image-left {
	grid-template-columns: 15% auto;
}

// Styling for media and text block with media on the right
.image-and-text--image-right {
	figure {
		grid-column: 2;
		grid-row: 1;
	}

	.image-and-text__content {
		grid-column: 1;
		grid-row: 1;
		margin-inline-start: 0;
	}
}

.embed--youtube {
	min-inline-size: 100%;

	lite-youtube {
		max-inline-size: 100%;
	}
}

// Special styling rules for homepage content
article .homepage-content {
	font-family: "Montserrat Alternates", Montserrat, $family-sans-serif;
	margin-inline: auto;
	max-inline-size: max-content;
	text-align: center;

	// removes underline for "non-h3" h2's
	h2 {
		border: none;
		color: #1b93b9;
		font-size: rem(48);
		font-weight: 800;
	}

	p {
		font-family: Montserrat, $family-sans-serif;
		font-size: rem(24);
		line-height: rem(36);
		max-inline-size: rem(630);
		text-align: start;
	}

	.homepage-intro p {
		font-size: rem(48);
		font-weight: $font-weight-semibold;
		line-height: rem(62);
		max-inline-size: rem(650);
		text-align: start;
	}

	.banner-image-container {
		margin-block-start: rem(48);
		position: relative;
	}

	.banner-image-container figure {
		max-inline-size: 100%;
	}

	.banner-image-container img {
		border-block-start: rem(10) solid rgb(253 204 112 / 100%);
	}

	.banner-image-text {
		display: none;
	}

	ul {
		text-align: initial;
	}
}

video {
	inline-size: 100%;
	max-block-size: rem(580);
}

figcaption {
	caption-side: bottom;
	display: table-caption;
	font-size: rem(14);
	font-style: italic;
	padding-block: 1rem;
	padding-inline: 0;
	text-align: center;
}

// Hide an element visually without hiding it from screen readers
// Reference: https://tailwindcss.com/docs/screen-readers/#app
.screen-reader-only {
	block-size: rem(1);
	border-width: 0;
	clip: rect(0, 0, 0, 0);
	inline-size: rem(1);
	margin: rem(-1);
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
}

@include breakpoint-down(md) {
	article .homepage-content {
		h2 {
			font-size: rem(24);
		}

		p {
			font-size: rem(14);
			line-height: rem(21);
		}
	}
}

@include breakpoint-up(lg) {
	#defaultContainer aside {
		padding-block-start: unset;
	}

	body {
		background-position: center;
	}

	.content-wrapper {
		display: grid;
		font-size: rem(18);
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
	}

	.homepage-content-wrapper {
		grid-template-columns: unset;
	}

	main {
		max-inline-size: 100vw;

		// WP customized styles for Desktop and iPad Pro views
		.embed--youtube {
			min-inline-size: auto;
		}

		// Styling for media and text block with media on the left
		.image-and-text--image-left {
			.image-and-text__content {
				margin-inline-start: rem(25);
			}

			img {
				block-size: 100%;
				inline-size: 100%;
			}
		}

		// Styling for media and text block with media on the right
		.image-and-text--image-right {
			.image-and-text__content {
				margin-inline: 0 rem(25);
			}
		}

		.embed--youtube iframe {
			block-size: rem(326);
			inline-size: rem(580);
		}

		// Special styling rules for homepage content
		article .homepage-content {
			// to make the YouTube embed full-width
			.embed--youtube {
				margin-inline: $full-width-video-widescreen-margins;
			}
		}
	}

	article .homepage-content {
		p {
			max-inline-size: rem(905);
		}

		.banner-image-text {
			background-color: transparent !important;
			color: $white;
			display: block;
			font-family: "Montserrat Alternates", Montserrat, $family-sans-serif;
			font-size: rem(40);
			font-weight: 600;
			position: absolute;
			right: 10%;
			top: 10%;
		}

		.homepage-intro p {
			font-size: rem(64);
			line-height: rem(83);
			max-inline-size: rem(1000);
		}
	}
}

@include breakpoint-up(xl) {
	// When screen sizes >= the iPad Pro landscape mode, use larger sizes for embedded media elements that
	// are aligned left or right.
	.alignleft,
	.alignright {
		.wp-block-embed__wrapper iframe {
			block-size: rem(326);
			inline-size: rem(580);
		}
	}
}
