// Footer styles.

// For the canada logo: the color of the flag is red by default but is able to adapt
// to the color determined by the selected UIO high contrast theme.
.fill-f00 {
	fill: var(--currentColor, #f00);
}

footer {
	background: $navy-light;
	color: $white;
	margin-top: rem(30);
	padding: rem(16) rem(32);
	text-align: center;

	a {
		color: $white;

		&:hover,
		&:focus {
			color: $navy-light;
		}
	}

	.netlify-notice {
		padding-top: rem(32);

		a {
			font-weight: $font-weight-normal;
		}
	}

	.footer-content {
		align-items: baseline;
		display: flex;
		flex-direction: column;
		margin: auto;
		max-width: $max-width-margins;

		h2 {
			color: $white;
			font-size: rem(16);
			font-weight: $font-weight-bold;
		}

		.funders {
			p {
				margin: 0;
				padding-bottom: rem(2);
			}

			div {
				.funder-logo {
					display: inline-block;
				}
			}

			.canada-logo {
				height: rem(60);
				padding: rem(13) rem(13) rem(13) 0;
				width: rem(144);
			}

			.hewlett-logo {
				height: rem(55);
				margin-bottom: rem(16);
				padding: rem(13) rem(13) 0 0;
				width: rem(215);
			}
		}

		.contact-info {
			width: 100%;

			address {
				font-style: normal;
			}

			a {
				font-weight: $font-weight-normal;

				svg {
					padding: rem(32) rem(16) rem(16) 0;
				}
			}

			.footer-logos {
				a {
					display: inline-block;
				}
			}

			.ocadu-logo-wrapper {
				a svg {
					height: rem(128);
					padding: rem(16);
					width: rem(128);
				}
			}

			.idrc-logo {
				height: rem(92);
				width: rem(213);
			}

			.ocadu-logo {
				height: rem(128);
				width: rem(128);
			}
		}

		.social-media {
			align-self: center;
			padding-bottom: rem(32);

			.social-media-icons {
				display: grid;
				grid-row-gap: rem(16);
				grid-template-columns: repeat(5, auto);
				margin: auto;

				div {
					&:nth-child(2) {
						grid-column-start: 3;
					}

					&:nth-child(3) {
						grid-column-start: 5;
					}

					&:nth-child(4) {
						grid-column-start: 2;
					}

					&:nth-child(5) {
						grid-column-start: 4;
					}
				}

				a {
					svg {
						height: rem(50);
						stroke-width: 2px;
						width: rem(50);
					}

					&:hover,
					&:focus {
						background-color: inherit;

						svg {
							fill: $navy-light;
							stroke: $white;
							stroke-linecap: round;

							path {
								fill: $navy-light;
							}
						}
					}
				}
			}
		}
	}
}

@include breakpoint-up(md) {
	footer {
		margin-top: rem(0);

		.footer-content {
			display: grid;
			grid-row-gap: rem(16);
			grid-template-columns: 3.8fr 1.2fr;
			padding: rem(32) rem(48);

			.funders {
				align-self: end;
				grid-column: 2/3;
				grid-row: 2/3;

				div {
					text-align: start;
				}

				svg {
					margin-bottom: rem(16);
				}

				.hewlett-logo {
					height: rem(80);
					width: rem(288);
				}
			}

			.contact-info {
				grid-column: 1/2;
				grid-row: 2/3;

				.idrc-logo {
					height: rem(96);
					width: rem(176);
				}

				.ocadu-logo {
					height: rem(72);
					width: rem(176);
				}

				.footer-logos {
					display: inline-flex;

					.ocadu-logo-wrapper {
						padding: 0;
					}
				}
			}

			.social-media {
				align-self: auto;

				h2 {
					text-align: start;
				}

				.social-media-icons {
					grid-gap: rem(16);
					grid-template-columns: repeat(5, auto);
					margin: inherit;
					width: rem(96);

					div {
						&:nth-child(2) {
							grid-column-start: 2;
						}

						&:nth-child(3) {
							grid-column-start: 3;
						}

						&:nth-child(4) {
							grid-column-start: 4;
						}

						&:nth-child(5) {
							grid-column-start: 5;
						}
					}

					a svg {
						height: rem(50);
						width: rem(50);
					}
				}
			}
		}

		.netlify-notice {
			padding-top: 0;
		}
	}
}
