// Footer styles.

footer {
  background: $navy-light;
  color: $white;
  margin-top: rem(30);
  padding: rem(16) rem(32);

  .netlify-notice {
    padding-top: rem(32);
    text-align: center;
  }

  .footer-content {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    font-size: rem(16);
    line-height: rem(29);
    margin: auto;
    max-width: $max-width-margins;

    h2 {
      font-size: rem(16);
      font-weight: bold;
    }

    .contact-info {
      width: 100%;

      svg {
        width: rem(160);
      }

      .logo-ocadu {
        padding-top: rem(32);
        text-align: center;
      }
    }

    .nav-home-about,
    .nav-tools,
    .nav-our-data,
    .nav-inclusion-challenges {
      display: none;
    }

    .contact-info,
    .netlify-notice {
      a {
        color: $white;
        font-weight: $font-weight-normal;

        &:hover,
        &:focus {
          svg {
            color: $navy-light;
          }
        }
      }
    }

    .social-media {
      align-self: center;
      padding-bottom: rem(32);

      .social-media-icons {
        display: grid;
        grid-gap: rem(16);
        grid-template-columns: repeat(2, auto);
        margin: auto;
        width: rem(96);

        div {
          justify-self: center;
        }

        a {
          svg {
            height: rem(40);
            width: rem(40);
          }

          &:hover,
          &:focus {
            background-color: inherit;

            svg {
              fill: $navy-light;
              stroke: $white;
              stroke-linecap: round;

              path {
                fill: $navy-light;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  footer {
    margin-top: rem(80);

    .footer-content {
      display: grid;
      grid-row-gap: rem(16);
      grid-template-columns: repeat(5, 1fr);
      padding: rem(32) rem(48);

      .nav-home-about,
      .nav-tools,
      .nav-our-data,
      .nav-inclusion-challenges {
        display: block;

        a {
          color: $green-light;
          font-weight: $font-weight-semibold;
        }
      }

      .nav-home-about,
      .nav-our-data {
        .nav-link-wrapper {
          display: block;
          padding-bottom: rem(32);
        }
      }

      .social-media {
        align-self: auto;

        .social-media-icons {
          grid-template-columns: repeat(4, auto);
          margin: inherit;
        }
      }

      .funders {
        align-self: end;
        grid-column: 5/6;
        line-height: rem(19);

        a {
          display: inline-block;
        }
      }
    }

    .contact-info {
      grid-column: 1/3;
      grid-row: 2/3;

      .logo-ocadu-wrapper {
        display: inline-flex;
        padding-top: rem(16);

        a {
          display: inline-block;
        }

        .logo-ocadu {
          padding: 0;
        }
      }
    }

    .netlify-notice {
      padding-top: 0;
    }
  }
}
