// Footer styles.

footer {
  background: $navy-light;
  color: $white;
  margin: auto;

  .footer-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: rem(16);
    line-height: rem(29);
    margin: auto;
    max-width: $max-width-margins;

    h2 {
      font-size: rem(16);
      font-weight: bold;
    }

    div {
      margin-bottom: rem(16);
    }

    .contact-info {
      a {
        font-weight: $font-weight-normal;
      }

      svg {
        width: rem(160);
      }
    }

    .social-media {
      ul {
        list-style: none;
        padding: 0;

        li {
          display: inline;
          padding: rem(5);

          img {
            width: rem(32);
          }
        }
      }
    }
  }

  p.netlify-notice {
    text-align: center;
    padding-bottom: rem(32);
  }
}

@media screen and (min-width: 600px) {
  footer {
    .footer-content {
      align-content: flex-start;
      align-items: baseline;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
