// Layout styles.
article {
  margin-left: auto;
  margin-right: auto;
  max-width: 75ch;
  padding: rem(0) rem(27);
}

@media screen and (min-width: 1024px) {
  article {
    max-width: 130ch;
    padding: rem(0) (60);
  }
}
