// Layout styles.
@import "header";

body {
  background-attachment: fixed;
  background-image: url("../images/WeCount website background_distribution.svg");
  background-position: rem(650) rem(200);
  background-repeat: repeat-x;
  background-size: cover;
}

article:not(.article-homepage) {
  margin-left: auto;
  margin-right: auto;
  max-width: 75ch;
  padding: rem(0) rem(27);
}

@media screen and (min-width: 1024px) {
  body {
    background-position: rem(750) rem(1);
    background-size: 900px rem(700);
  }

  article:not(.article-homepage) {
    background-color: $white;
    max-width: 110ch;
    padding: rem(1) rem(60);
  }
}
