.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 75ch;
  // padding: issues
  padding: 0 27px;
}

@media screen and (min-width: 600px) {
  .main {
    max-width: 130ch;
    padding: 0 60px;
  }
}
