---
permalink: '/admin/index.html'
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Manager</title>
  </head>
  <body>
    <!-- Include the script that builds the page and powers Netlify CMS -->
    <script src="/lib/cms/decap-cms.js"></script>
    {% if env.context === "dev" %}
    <script src="/lib/cms/react.development.js"></script>
    {% else %}
    <script src="/lib/cms/react.production.min.js"></script>
    {% endif %}
    <script src="/lib/cms/prop-types.min.js"></script>
    <script src="/lib/cms/nunjucks-slim.min.js"></script><script src="templates.js"></script>
    <script src="cms.js"></script>
  </body>
</html>
