backend:
  name: git-gateway
  branch: main
  squash_merges: true
  commit_messages:
    create: 'chore(cms): create "{{path}}"'
    update: 'chore(cms): update "{{path}}"'
    delete: 'chore(cms): delete "{{path}}"'
    uploadMedia: 'chore(cms): upload "{{path}}"'
    deleteMedia: 'chore(cms): delete "{{path}}"'
local_backend: true
publish_mode: editorial_workflow
site_url: "https://wecount.inclusivedesign.ca"
media_folder: src/uploads
public_folder: /uploads
collections:
  - name: pages
    label: Pages
    label_singular: Page
    folder: src/collections/pages
    sortable_fields: [title]
    slug: "{{title}}"
    preview_path: "{{slug}}"
    create: true
    fields:
      - label: Title
        name: title
        widget: string
      - label: Excerpt
        name: excerpt
        widget: text
        hint: The excerpt is shown in search results.
      - label: Locale
        name: locale
        widget: string
        required: false
        hint: The locale of the page. If you do not specify a locale, default will be set to en-CA.
      - label: Translation Key
        name: translation_key
        widget: string
        required: false
        hint: A unique key used to link translated content in French or English with its corresponding content in the other language.
      - label: Navigation Order
        name: menu_order
        widget: number
        default: 0
        required: true
        hint: |-
          This determines where the page should appear in the primary navigation. To hide the page from the primary navigation, set the value to zero.
      - label: Navigation Key
        name: key
        widget: string
        required: false
        hint: The title appears in the primary navigation. If you do not specify a navigation key, title will be used.
      - label: Permanent Link
        name: permalink
        widget: string
        required: false
        hint: |-
          If you do not specify a permanent link, one will be automatically generated from the page title.
          Permalinks must have the format /page-title/ (the trailing slash is required).
      - label: Banner Image
        name: bannerImage
        widget: image
        required: false
        hint: Image that appears at the top of the page.
      - label: Banner Image Alt Text
        name: bannerImageAltText
        widget: string
        required: false
      - label: Banner Image Text
        name: bannerImageText
        widget: text
        required: false
        hint: Text that will appear on top right corner of the banner image.
      - label: Body
        name: body
        widget: markdown
      - label: Expandable H2
        name: expandableHeading
        widget: boolean
        default: false
        hint: Make every H2s on the page hide/show their content.
  - name: initiatives
    label: Initiatives
    label_singular: Initiative
    folder: src/collections/initiatives
    sortable_fields: [title, date]
    slug: "{{title}}"
    preview_path: "initiatives/{{slug}}"
    create: true
    fields:
      - label: Title
        name: title
        widget: string
      - label: Permanent Link
        name: permalink
        widget: string
        required: false
        hint: |-
          If you do not specify a permanent link, one will be automatically generated from the title.
          Permalinks must have the format /initiatives/entry-title/ (the trailing slash is required).
      - label: Author
        name: author
        widget: string
      - label: Date
        name: date
        widget: datetime
        time_format: false
        hint: The publication date of the item.
      - label: Body
        name: body
        widget: markdown
      - label: Preview Image
        name: picture
        widget: image
        required: false
      - label: Preview Image Alt Text
        name: altTag
        widget: string
        required: false
      - label: Excerpt
        name: excerpt
        widget: text
        hint: The excerpt is shown in search results.
      - label: Tags
        name: tags
        widget: list
      - label: Expandable H2
        name: expandableHeading
        widget: boolean
        default: false
        hint: Make every H2s on the page hide/show their content.
  - name: events
    label: Events
    label_singular: Event
    folder: src/collections/events
    sortable_fields: [eventDate, title]
    slug: "{{title}}"
    preview_path: "events/{{slug}}"
    create: true
    fields:
      - label: Event Title
        name: title
        widget: string
      - label: Permanent Link
        name: permalink
        widget: string
        required: false
        hint: |-
          If you do not specify a permanent link, one will be automatically generated from the event title.
          Permalinks must have the format /events/event-title/ (the trailing slash is required).
      - label: Event Date
        name: eventDate
        widget: datetime
        time_format: false
        required: false
      - label: Cover Image
        name: coverImageUrl
        widget: image
        required: false
      - label: Cover Image Alt Text
        name: coverImageAltText
        widget: string
        required: false
      - label: Event Body
        name: body
        widget: markdown
      - label: Short Description
        name: shortDescription
        widget: markdown
        hint: The short description is shown on the Events page.
      - label: Preview Image
        name: previewImageUrl
        widget: image
        required: false
        hint: The preview image is shown on the Events page.
      - label: Preview Image Alt Text
        name: previewImageAltText
        widget: string
        required: false
  - name: recount
    label: Recount
    label_singular: Recount
    folder: src/collections/recount
    sortable_fields: [title, date]
    create: true
    fields:
      - label: Title
        name: title
        widget: string
      - label: Link
        name: link
        widget: string
        hint: The link to the external news item or attached resource.
      - label: Date
        name: date
        widget: datetime
        time_format: false
        hint: The publication date of the item.
      - label: Excerpt
        name: excerpt
        widget: text
        hint: The excerpt is shown in search results.
  - name: resources
    label: Resources
    label_singular: Resource
    folder: src/collections/resources
    sortable_fields: [title]
    preview_path: "resources/{{filename}}"
    create: true
    fields:
      - label: Title
        name: title
        widget: string
      - label: Focus
        name: focus
        widget: relation
        collection: resourceMetadata
        file: resourceFocuses
        value_field: resourceFocuses.*.value
        display_fields: [resourceFocuses.*.value]
        search_fields: [resourceFocuses.*.value]
      - label: Source
        name: source
        widget: string
      - label: Readability
        name: readability
        widget: select
        multiple: true
        options:
          - {label: Beginner, value: Beginner}
          - {label: Intermediate, value: Intermediate}
          - {label: Expert, value: Expert}
      - label: Type
        name: type
        widget: relation
        required: true
        collection: resourceMetadata
        file: resourceTypes
        value_field: resourceTypes.*.value
        display_fields: [resourceTypes.*.value]
        search_fields: [resourceTypes.*.value]
      - label: Open Source
        name: openSource
        widget: boolean
        default: false
        required: false
      - label: External Link
        name: link
        widget: string
        required: false
      - label: Keywords
        name: keywords
        widget: list
        required: false
      - label: Learn Tags
        name: learnTags
        widget: relation
        multiple: true
        collection: resourceMetadata
        file: resourceTags
        value_field: resourceTags.*.value
        display_fields: [resourceTags.*.label]
        search_fields: [resourceTags.*.label]
        options_length: 100
        required: false
      - label: Summary
        name: summary
        widget: markdown
        minimal: true
        buttons: [bold, italic]
        editor_components: []
        required: false
      - label: Abstract
        name: body
        widget: markdown
        minimal: true
        buttons: [bold, italic, link]
        editor_components: []
        required: false
  - name: resourceMetadata
    label: Resource Metadata
    files:
      - label: Resource Types
        name: resourceTypes
        file: src/_data/resourceTypes.json
        editor:
          preview: false
        fields:
          - label: Resource Types
            label_singular: Resource Type
            name: resourceTypes
            widget: list
            summary: "{{fields.value}}"
            fields:
              - label: Value
                name: value
                widget: string
      - label: Resource Focuses
        name: resourceFocuses
        file: src/_data/resourceFocuses.json
        editor:
          preview: false
        fields:
          - label: Focuses
            label_singular: Focus
            name: resourceFocuses
            widget: list
            summary: "{{fields.value}}"
            fields:
              - label: Value
                name: value
                widget: string
      - label: Resource Tags
        name: resourceTags
        file: src/_data/resourceTags.json
        editor:
          preview: false
        fields:
          - label: Resource Tags
            label_singular: Resource Tag
            name: resourceTags
            widget: list
            summary: "{{fields.label}}"
            fields:
              - label: Value
                name: value
                widget: string
              - label: Label
                name: label
                widget: string
      - label: Resource Categories
        name: resourceCategories
        file: src/_data/resourceCategories.json
        editor:
          preview: false
        fields:
          - label: Resource Categories
            label_singular: Resource Category
            name: resourceCategories
            widget: list
            summary: "{{fields.categoryLabel}}"
            fields:
              - label: Category ID
                name: categoryId
                widget: string
              - label: Category Label
                name: categoryLabel
                widget: string
              - label: Focuses
                name: focuses
                widget: relation
                multiple: true
                collection: resourceMetadata
                file: resourceFocuses
                value_field: resourceFocuses.*.value
                display_fields: [resourceFocuses.*.value]
                search_fields: [resourceFocuses.*.value]
