---
permalink: '/login/index.html'
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link rel="stylesheet" href="/scss/main.css" />
  </head>
  <body>
    <div data-netlify-identity-button></div>
    <script>
      netlifyIdentity.on('login', () => window.location.href = "/admin/");
    </script>
  </body>
</html>
