---
title: Accessibility Map
permalink: /map/
---
{% extends 'layouts/base.njk' %}

{% block content %}
	{% include '../node_modules/fluid-covid-map-viz/build/html/template.html' %}
{% endblock %}

{% block headerScripts %}
<link rel="stylesheet" href="/lib/fluid-covid-map-viz/build/css/fluid-covid-map-viz-all.css" />

<script src="/lib/infusion/src/components/tooltip/js/Tooltip.js"></script>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="/lib/papaparse/papaparse.js"></script>

<script src="/lib/fluid-covid-map-viz/src/js/colour.js"></script>
<script src="/lib/fluid-covid-map-viz/src/js/leafletMap.js"></script>
<script src="/lib/fluid-covid-map-viz/src/js/CSVResource.js"></script>
<script src="/lib/fluid-covid-map-viz/src/js/covidMap.js"></script>

{# <script src="/lib/fluid-covid-map-viz/build/js/fluid-covid-map-viz.js"></script> #}
{% endblock %}

{% block footerScripts %}
<script>
$(document).ready(function () {
	fluid.mapviz.covid.map(".fl-mapviz-container", {
		dataUrl: window.location.origin + "/api/getMapData"
	});
});
</script>
{% endblock %}
