---
title: Accessibility Map
permalink: /map/
---
{% extends 'layouts/base.njk' %}

{% block content %}
	{% include '../node_modules/fluid-covid-map-viz/build/html/template.html' %}
{% endblock %}

{% block headerScripts %}
<link rel="stylesheet" href="/lib/fluid-covid-map-viz/build/css/fluid-covid-map-viz-all.css" />
<script src="/lib/fluid-covid-map-viz/build/js/fluid-covid-map-viz.js"></script>
{% endblock %}

{% block footerScripts %}
<script>
$(document).ready(function () {
	fluid.mapviz.covid.map(".fl-mapviz-container", {
		dataUrl: window.location.origin + "/api/getMapData"
	});
});
</script>
{% endblock %}
