---
title: Accessibility Map
permalink: /map/
---
{% extends 'layouts/base.njk' %}

{% block content %}
	{% include '../node_modules/covid-data-monitor/build/html/template.html' %}
{% endblock %}

{% block headerScripts %}
<link rel="stylesheet" href="/lib/covid-data-monitor/build/css/covid-data-monitor-all.css" />
<script src="/lib/covid-data-monitor/build/js/covid-data-monitor.js"></script>
{% endblock %}

{% block footerScripts %}
<script>
$(document).ready(function () {
	document.getElementById("defaultContainer").classList.add("map");

	fluid.covidMap.map(".fl-mapviz-container", {
		dataUrl: window.location.origin + "/api/getMapData",
		searchResultTemplateUrl: window.location.origin + "/lib/covid-data-monitor/build/html/searchResultTemplate.html"
	});
});
</script>
{% endblock %}
