---
pagination:
  data: collections.pages
  size: 1
  alias: pageItem
permalink: "/{{ '/' if pageItem.slug === 'home' else pageItem.slug	}}/"
---

{% extends 'layouts/base.njk' %}

{% set pageTitle = pageItem.title %}
{% set pageExcerpt = pageItem.excerpt %}

{% block content %}
{% if page.url === '/' %}
<div>
		<article>
		<h1 class="title">{{ pageTitle }}</h1>
		<div class="api-content">
		{{ pageItem.content | safe }}
		</div>
		</article>
		<div class="homepage-cards">
			<a href="/views/" class="blue card">
				<h2>Read current views in inclusive data science</h2>
			</a>
			<a href="/learn/" class="green card">
				<h2>Find inclusive data tools</h2>
			</a>
			<a href="/inclusion-challenges/" class="yellow card">
				<h2>Participate in our inclusion challenge workshops</h2>
			</a>
			<a href="/badges/" class="purple card">
				<h2>Earn We Count Badges</h2>
			</a>
		</div>
</div>

{% elif pageItem.slug === 'initiatives' %}
<article class="page">
	<h1 class="title">{{ pageTitle }}</h1>
	<div class="api-content">
		{{ pageItem.content | safe }}
	</div>

	<div>
		{% for workshop in collections.workshops %}
		<div class="api-content">
			{% include 'components/workshop.njk' %}
		</div>
		{% endfor %}
	</div>
</article>

{% elif pageItem.slug === 'advisory-panel' %}
<article class="advisory-panel">
	<div class="api-content">
		{{ pageItem.content | safe }}
	</div>
</article>

{% else %}
<article class="page">
	<h1>{{ pageTitle }}</h1>
	<div class="api-content">
		{{ pageItem.content | safe }}
	</div>
</article>
{% endif %}
{% endblock %}

{% block footerScripts %}
<script src="/js/content-header-observer.js"></script>
<script>
	// Track all h1 and h2 in content for the About and Inclusion Challenges page.
document.querySelectorAll("main article.page h1, main article.page h2, header").forEach((section) => {
	const contentHeaderObserver = getSideMenuObserver();
	contentHeaderObserver.observe(section);
});
</script>

{% if pageItem.slug === 'advisory-panel' %}
	<script src="/js/advisory-panel-handler.js"></script>
{% endif %}
{% endblock %}
