---
pagination:
    data: pageData
    size: 1
    alias: pageItem
permalink: "/{{ '/' if pageItem.slug === 'home' else pageItem.slug  }}/"
layout: layouts/page.njk
---
{{ pageItem.content.rendered | safe }}
