---
pagination:
    data: collections.views
    size: 1
    alias: postItem
permalink: "views/{{ postItem.slug }}/"
---

{% extends 'layouts/base.njk' %}

{% set pageTitle = postItem.title %}
{% set pageExcerpt = postItem.excerpt %}

{% block content %}
<article class="post-article">
  <h1>{{ postItem.title | safe }}</h1>
  <div class="author">By {{ postItem.author }}</div>
  <time class="date" datetime="{{ postItem.dateTime | w3DateFilter }}" class="dt-published">{{ postItem.dateTime | dateFilter }}</time>
  {% if postItem.picture %}
  <div class="preview-media-wrapper">
    <figure class="content">
      <img src="{{ postItem.picture | safe }}" alt="{{ postItem.altTag }}">
    </figure>
	</div>
  {% endif %}
  <div class="api-content">{{ postItem.content | safe }}</div>
	{% if postItem.tags.length > 0 %}
  <section class="tags-info">
    <h2 class="h3">Tags</h2>
    <div class="tags">
    {% for tag in postItem.tags %}
    <a href="/tags/{{ tag | slug }}/">{{ tag | safe }}</a>
    {% endfor %}
    </div>
  </section>
	{% endif %}
	{% if pagination.pages.length > 1 %}
	{% include 'components/pagination.njk' %}
	{% endif %}
</article>
{% endblock %}

{% block footerScripts %}
<script src="/js/content-header-observer.js"></script>
<script>
	// Track all h1 and h2 in content for the Views post page.
document.querySelectorAll("main article.post-article h1, main article.post-article h2, header").forEach((section) => {
	const contentHeaderObserver = getSideMenuObserver();
	contentHeaderObserver.observe(section);
});
</script>
{% endblock %}
