---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ env.baseUrl if env.baseUrl else 'http://localhost:3000' }}/sitemap.xml

User-Agent: *
Disallow: /404.html
Disallow: /admin/
Disallow: /lib/

User-agent: GPTBot
Disallow: /
