---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for page in collections.all %}
    {%- if page.url -%}
    <url>
        <loc>{{ env.baseUrl if env.baseUrl else 'http://localhost:3000' }}{{ page.url | url }}</loc>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
        {% set links = page.url | locale_links %}
        {%- for link in links -%}
        <link rel="alternate" hreflang="{{ link.lang }}" href="{{ env.baseUrl if env.baseUrl else 'http://localhost:3000' }}{{ link.url }}"/>
        {%- endfor %}
    </url>
    {% endif -%}
    {%- endfor -%}
</urlset>
