---
pagination:
  data: collections.tags
  size: 1
  alias: oneTagPage
permalink: "tags/{{ oneTagPage.slug }}/{% if oneTagPage.pageNumber %}page/{{ oneTagPage.pageNumber }}/{% endif %}"
---
{% extends 'layouts/base.njk' %}

{% set pagination = oneTagPage.pagination %}
{% set pageTitle = 'Tags (' + oneTagPage.title + ')' %}

{% block content %}
	<article class="tags">
		<h1>Tag: “{{ oneTagPage.title }}”</h1>
		<div class="news-grid">
			{% for item in oneTagPage.posts %}
			<div class="api-content">
			{% include 'components/grid-item.njk' %}
			</div>
			{% endfor %}
		</div>
		{% if pagination.pages.length > 1 %}
		  {% include 'components/pagination.njk' %}
		{% endif %}
	</article>
{% endblock %}
