---
pagination:
  data: collections.tags
  size: 1
  alias: oneTagPage
permalink: "tags/{{ oneTagPage.slug }}/{% if oneTagPage.pageNumber %}page/{{ oneTagPage.pageNumber }}/{% endif %}"
---
{% extends 'layouts/base.njk' %}

{% set pagination = oneTagPage.pagination %}
{% if oneTagPage.pageNumber %}
  {% set pageTitle = 'Tag: “' + oneTagPage.title + '” (Page ' + oneTagPage.pageNumber + ')' %}
{% else %}
  {% set pageTitle = 'Tag: “' + oneTagPage.title + '” (Page 1)' %}
{% endif %}

{% block content %}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="placeholder" viewBox="-4 -4 224 224">
      {% include 'svg/placeholder.svg' %}
    </symbol>
  </svg>

  <article>
    <h1>Tag: “{{ oneTagPage.title }}”</h1>
    <div class="news-grid">
      {% for item in oneTagPage.posts %}
      <div class="api-content">
      {% include 'components/grid-item.njk' %}
      </div>
      {% endfor %}
    </div>
    {% if pagination.pages.length > 1 %}
      {% include 'components/pagination.njk' %}
    {% endif %}
  </article>
{% endblock %}
