---
title: Views
permalink: /views/
pageContext: views
---
{% extends 'layouts/base.njk' %}

{% block content %}
    <article class="views">
        <h1>Views</h1>
        <div class="news-grid">
            {% for item in collections.views %}
            <div class="api-content">
            {% include 'components/grid-item.njk' %}
            </div>
            {% endfor %}
        </div>
        {# TODO: Pagination. #}
    </article>
{% endblock %}
