---
permalink: viewsWithTags.json
---
{
  "views": [
  {%- for item in collections["views_en-CA"] %}
    {
      "title": {{ item.data.title | dump | safe }},
      "author": {{ item.data.author | dump | safe }},
      "content": {{ item.templateContent | dump | safe }},
      "excerpt": {{ item.data.excerpt | dump | safe }},
      "date": {{ item.data.date | dump | safe }},
      "tags": [
        {% for tag in item.data.tags %}
        {
          "name": {{ tag | dump | safe }},
          "slug": {{ tag | slugify | dump | safe }}
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "picture": {% if item.data.picture %} {{ item.data.picture | dump | safe }} {% else %} "" {% endif %},
      "altTag": {% if item.data.altTag %} {{ item.data.altTag | dump | safe }} {% else %} "" {% endif %},
      "url": {{ item.url | dump | safe }}
    }{% if not loop.last %},{% endif %}
  {%- endfor %}
  ],
  "tags": [
  {%- for item in collections.viewsTags %}
    {
      "name": {{ item.name | dump | safe }},
      "slug": {{ item.slug | dump | safe }}
    }{% if not loop.last %},{% endif %}
  {%- endfor %}
  ]
}
