---
pagination:
    data: collections.workshops
    size: 1
    alias: workshopItem
permalink: "initiatives/{{ workshopItem.id }}/"
---
{% extends 'layouts/base.njk' %}

{% set pageTitle = workshopItem.title %}

{% block content %}
	<article class="workshop-page">
		<h1>{{ workshopItem.title | safe }}</h1>
		{% if workshopItem.imageUrl %}
			<img class="workshop-image" src="{{ workshopItem.imageUrl | safe }}" alt="{{ workshopItem.imageAlt }}">
		{% endif %}

		<div class="description">{{ workshopItem.fullDescription | safe }}</div>

		<form id="comment-form">
			<h3>Comments</h3>
			<div class="form-field">
				<span>*</span><p class="asterisk-def"> Indicates required field</p>
			</div>

			<div class="form-field">
				<span>*</span><label for="name"><h4>Name</h4></label><span class="required">Required</span>
				<input id="name" type="text" name="name" :value="nameTerm" placeholder="" aria-label="Enter your name">
			</div>

			<div class="form-field">
				<span>*</span><label for="comment"><h4>Post a comment or question</h4></label><span class="required">Required</span>
				<textarea id="comment" type="text" name="comment" :value="commentTerm" placeholder="" aria-label="Enter your comment"></textarea>
				<input type="hidden" name="workshopId" id="workshopId" value="{{ workshopItem.id }}">
				<button id="post-comment" type="submit">Post a comment</button>
			</div>
		</form>

		<div class="submitted-comment-message" aria-live="assertive">
			<span>Thank you for submitting your comment. It will be posted on the page once it is approved</span>
		</div>

		<div class="comments">
			{% for comment in workshopItem.comments %}
				{% include 'components/comment.njk' %}
			{% endfor %}
		</div>
	</article>
{% endblock %}

{% block footerScripts %}
<script src="/js/workshop-comments.js"></script>
{% endblock %}
