:root {
	--font-body: "Fira Sans", sans-serif;
	--font-alternate: "Montserrat Alternates", montserrat, "Fira Sans", sans-serif;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--content-max: 100rem;
}
