$browser-context: 16;

/** Colors **/

// Primary
$white: #fff;
$red: #ff3636;
$red-light: #ffaca7;
$blue-dark: #6895c6;
$blue: #84bcde;
$blue-light: #acdde9;
$gold-dark: #fcb33e;
$gold: #fdcc70;
$gold-light: #ffe6a7;
$gold-lightest: #fadc90;

// Secondary
$black: #000;
$grey-lightest: #f8f8f8;
$grey-lighter: #f3f3f3;
$grey-light: #e7e7e7;
$grey-mid-light: #888;
$grey-mid: #6c6c6c;
$grey-dark: #313131;
$grey-shade: #c4c4c4;
$navy: #203149;
$navy-light: #2e405b;
$blue-alt: #5c81a9;
$blue-alt-contrast: #5879a0;
$blue-alt-dark: #4d6b8d;
$blue-alt-light: #8caabb;
$blue-grey: #abdde9;
$azure: #89b2e0;
$green: #b0d0be;
$green-light: #cee6c5;
$green-dark: #465d8b;
$green-pale: #f7fff4;
$green-grey: #cde6c4;
$orange-focus: #fadc90;
$orange-light: #5c81a9;
$yellow: #ffcb70;
$border-shadow-radius: calc(4 / 16 * 1rem);
$border-shadow-colour: rgba(0 0 0 / 25%);
$border-shadow-light: 0 0 $border-shadow-radius $border-shadow-colour;
$topic-title-border-radius: calc(8 / 16 * 1rem);
