<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="menu-icon" viewBox="0 0 42 27">
        {% include 'svg/menu.svg' %}
    </symbol>
    <symbol id="menu-close" viewBox="0 0 34 35">
        {% include 'svg/close.svg' %}
    </symbol>
    <symbol id="search" viewBox="0 0 21 22">
        {% include 'svg/search.svg' %}
    </symbol>
</svg>
