name: Run tests

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - dev
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Cache node modules
      uses: actions/cache@v4
      with:
        path: node_modules
        key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
    - name: Install dependencies
      run: npm ci
    - name: Lint assets
      run: npm run lint
    - name: Ensure that commitlint works
      run: |
        echo "fix: make sure commitlint works" | npx --no-install commitlint --config commitlint.config.mjs
