name: Release

on:
  push:
    branches: [dev]
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    uses: inclusive-design/workflows/.github/workflows/node-release-semver.yml@main
    with:
      GHA_APP_ID: ${{ vars.GHA_APP_ID }}
    secrets:
      GHA_PRIVATE_KEY: ${{ secrets.GHA_PRIVATE_KEY }}
